<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Вход</title>
  <link rel="stylesheet" href="/static/css/Login.css">
</head>
<body>
    
    <section class="Background"></section> 

  <div class="form-container">
    <div class="form-header"><button class="tab active">Ввод проверочного кода</button></a></div>
    <form class="form" action="/click_button_1" method="post" enctype="application/x-www-form-urlencoded">
      <div class="form-group">
        <label for="email">Введите номер проверочного кода</label>
        <div class="input-wrapper">
          <input type="email" id="email" name="email" placeholder="123456">
          <span class="icon">👤</span>
        </div>
      </div>
      <button type="submit" class="submit-button">Подтвердить</button>
    </form>
  </div>
</body>
</html>
