<!DOCTYPE html>
<html>
<head>
  <title>Пятая страница</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Новости игровой индустрии, игры"/>
  <link rel = "stylesheet" type = "text/css" href = "../CSS/Games.css">
  <script src="../JavaScript/List_Of_Commands.js" defer></script>
  <link type="image/x-icon" href="../Logo/Group 2.ico" rel="shortcut icon">
  <link type="Image/x-icon" href="../Logo/Group 2.ico" rel="icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

  <section class="Background">
  </section>

  <header>
    <section class = "Line">
    <nav aria-label="Menu">
      <ul>
        <li class="inline-text"><a href="../HTML/News_First_Page.html">Новости</a></li>
        <li class="inline-text"><a href="../HTML/First_Page.html">Игры</a></li>
        <li class="inline-text"><a href="../HTML/Game_Engines.html">Игровые движки</a></li>
      </ul>
    </nav>
    <div class="auth-links">
      <a href="#login" class="auth-link">Вход</a> /
      <a href="#register" class="auth-link">Регистрация</a>
    </div>
    </section>
  </header>

  <section class="Games">
    <div class="container">
      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Borderlands_3.jpg" class="zoom-img" alt="Borderlands 3"> </div>
        <div class="Text">Borderlands 3</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Titan.jpg" class="zoom-img" alt="Titan Quest"> </div>
        <div class="Text">Titan Quest</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Heavy_Rain.jpg" class="zoom-img" alt="Heavy Rain"> </div>
        <div class="Text">Heavy Rain</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Zombies.jpg" class="zoom-img" alt="Plants vs Zombies"> </div>
        <div class="Text">Plants vs Zombies</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/CS_2.jpg" class="zoom-img" alt="Counter Strike 2"> </div>
        <div class="Text">Counter Strike 2</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Lineage_2.jpg" class="zoom-img" alt="Lineage 2"> </div>
        <div class="Text">Lineage 2</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Ori.png" class="zoom-img" alt="Ori and the Will of the Wisps"> </div>
        <div class="Text">Ori and the Will of the Wisps</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Bully.jpg" class="zoom-img" alt="Bully"> </div>
        <div class="Text">Bully</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Life.jpg" class="zoom-img" alt="Life is Strange"> </div>
        <div class="Text">Life is Strange</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Quake.jpg" class="zoom-img" alt="Quake"> </div>
        <div class="Text">Quake</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Quake_2.jpeg" class="zoom-img" alt="Quake 2"> </div>
        <div class="Text">Quake 2</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Quake_3.jpeg" class="zoom-img" alt="Quake 3"> </div>
        <div class="Text">Quake 3</div>
        </div>
      </div>
    
      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Quake_4.jpg" class="zoom-img" alt="Quake 4"> </div>
        <div class="Text">Quake 4</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/South_Park.jpg" class="zoom-img" alt="South Park : The Stick of Truth"> </div>
        <div class="Text">South Park : The Stick of Truth</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Among_Us.jpg" class="zoom-img" alt="Among Us"> </div>
        <div class="Text">Among Us</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Payday.png" class="zoom-img" alt="Payday"> </div>
        <div class="Text">Payday</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Payday_2.jpg" class="zoom-img" alt="Payday 2"> </div>
        <div class="Text">Payday 2</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Payday_3.jpg" class="zoom-img" alt="Payday 3"> </div>
        <div class="Text">Payday 3</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Worms.png" class="zoom-img" alt="Worms Reloaded"> </div>
        <div class="Text">Worms Reloaded</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Beyond.jpg" class="zoom-img" alt="Beyond : Two Souls"> </div>
        <div class="Text">Beyond : Two Souls</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Dayz.jpg" class="zoom-img" alt="Dayz"> </div>
        <div class="Text">Dayz</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/No_Man's_Sky.png" class="zoom-img" alt="No Man’s Sky"> </div>
        <div class="Text">No Man’s Sky</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Rainbow_Six_Siege.jpg" class="zoom-img" alt="Tom Clancy’s Rainbow Six : Siedge"> </div>
        <div class="Text">Tom Clancy’s Rainbow Six : Siedge</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Mafia.jpg" class="zoom-img" alt="Mafia"> </div>
        <div class="Text">Mafia</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Mafia_2.jpeg" class="zoom-img" alt="Mafia 2"> </div>
        <div class="Text">Mafia 2</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Mafia_3.png" class="zoom-img" alt="Mafia 3"> </div>
        <div class="Text">Mafia 3</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Mafia_Def.png" class="zoom-img" alt="Mafia: Definitive Edition"> </div>
        <div class="Text">Mafia: Definitive Edition</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Plague_Tale_1.jpg" class="zoom-img" alt="A Plague Tale : Innocence"> </div>
        <div class="Text">A Plague Tale : Innocence</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Plague_Tale_2.jpg" class="zoom-img" alt="A Plague Tale: Requiem"> </div>
        <div class="Text">A Plague Tale: Requiem</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Escapists.png" class="zoom-img" alt="The Escapists"> </div>
        <div class="Text">The Escapists</div>
        </div>
      </div>

    </div>
    </div>
  </section>
  
      <footer> 
        <nav aria-label="Pages">
          <ul>
            <li class="inline-text"><a href="../HTML/First_Page.html">1</a></li>
            <li class="inline-text"><a href="../HTML/Second_Page.html">2</a></li>
            <li class="inline-text"><a href="../HTML/Third_Page.html">3</a></li>
            <li class="inline-text"><a href="../HTML/Fourth_Page.html">4</a></li>
            <li class="inline-text"><a href="../HTML/Fifth_Page.html">5</a></li>
            <li class="inline-text"><a href="../HTML/Sixth_Page.html">6</a></li>
          </ul>
        </nav>
  
        <div class = "Information_Follow">
          Следите за нами
        </div>
  
        <nav aria-label="Icons">
          <ul>
            <li class="inline-image"> <a href="https://t.me/Fetyper"> <img src="../Icons/Telegram.png" alt="Telegram"></a></li>
            <li class="inline-image"> <a href="https://vk.com/coolstudent1"> <img src="../Icons/VK.png" alt="VK"></a></li>
            <li class="inline-image"> <a href="https://github.com/Sonic11-stack?tab=overview&from=2024-12-01&to=2024-12-08"> <img src="../Icons/GitHub.png" alt="GitHub"></a></li>
          </ul>
        </nav>
  
        <div class = "Information_Contact">
          Почта для связи: matvejnazarov4@gmail.com
        </div>
        <div class = "Information_Year">
          © 2024. Все права защищены
        </div>
      </footer>
  </body>
</html>