<!DOCTYPE html>
<html>
<head>
  <title>Пятая страница</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Новости игровой индустрии, игры"/>
  <link rel = "stylesheet" type = "text/css" href = "/static/css/Games.css">
  <link rel = "stylesheet" type = "text/css" href = "/static/css/bebas_neue_bold.css">
  <script src="/static/javascript/List_Of_Commands.js" defer></script>
  <link type="image/x-icon" href="../Logo/Group 2.ico" rel="shortcut icon">
  <link type="Image/x-icon" href="../Logo/Group 2.ico" rel="icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

  <section class="Background">
  </section>

  <header>
    <section class="Line">
      <nav aria-label="Menu">
        <ul>
          <li class="inline-text">
              <a class="c-btn c-btn--big-line" href="/news_first_page" data-hover-name="Новости" style="font-family: 'Bebas Neue Bold';">
                Новости</a>
          </li>

          <li class="inline-text">
            <a class="c-btn c-btn--big-line" href="/first_page" data-hover-name="Игры" style="font-family: 'Bebas Neue Bold';">
              Игры</a>
        </li>

           <li class="inline-text">
              <a class="c-btn c-btn--big-line" href="/game_engine" data-hover-name="Игровые движки" style="font-family: 'Bebas Neue Bold';">
                Игровые движки</a>
          </li>
        </ul>
      </nav>

      <div class="auth-links">
        <a href="/login" style="font-family: 'Bebas Neue Bold';" class="c-btn c-btn--big-line auth-link" data-hover-name="Вход">Вход</a> /
        <a href="/reg" style="font-family: 'Bebas Neue Bold';" class="c-btn c-btn--big-line auth-link" data-hover-name="Регистрация">Регистрация</a>
      </div>
      <div class="logo-container">
        <a href="/news_first_page"><img src="/static/icons/Meta.png" alt="Логотип" class="logo"></a>
        <span class="logo-text" style="font-family: 'Bebas Neue Bold';">Code&Play</span>
      </div>
    </section>
  </header>

  <section class="Games">
    <div class="container">
      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Borderlands_3.jpg" class="zoom-img" alt="Borderlands 3"> </a> </div>
        <div class="Text">Borderlands 3</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Titan.jpg" class="zoom-img" alt="Titan Quest"> </a> </div>
        <div class="Text">Titan Quest</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Heavy_Rain.jpg" class="zoom-img" alt="Heavy Rain"> </a> </div>
        <div class="Text">Heavy Rain</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Zombies.jpg" class="zoom-img" alt="Plants vs Zombies"> </a> </div>
        <div class="Text">Plants vs Zombies</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/CS_2.jpg" class="zoom-img" alt="Counter Strike 2"> </a> </div>
        <div class="Text">Counter Strike 2</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Lineage_2.jpg" class="zoom-img" alt="Lineage 2"> </a> </div>
        <div class="Text">Lineage 2</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Ori.png" class="zoom-img" alt="Ori and the Will of the Wisps"> </a> </div>
        <div class="Text">Ori and the Will of the Wisps</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Bully.jpg" class="zoom-img" alt="Bully"> </a> </div>
        <div class="Text">Bully</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Life.jpg" class="zoom-img" alt="Life is Strange"> </a> </div>
        <div class="Text">Life is Strange</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Quake.jpg" class="zoom-img" alt="Quake"> </a> </div>
        <div class="Text">Quake</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Quake_2.jpeg" class="zoom-img" alt="Quake 2"> </a> </div>
        <div class="Text">Quake 2</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Quake_3.jpeg" class="zoom-img" alt="Quake 3"> </a> </div>
        <div class="Text">Quake 3</div>
        </div>
      </div>
    
      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Quake_4.jpg" class="zoom-img" alt="Quake 4"> </a> </div>
        <div class="Text">Quake 4</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/South_Park.jpg" class="zoom-img" alt="South Park : The Stick of Truth"> </a> </div>
        <div class="Text">South Park : The Stick of Truth</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Among_Us.jpg" class="zoom-img" alt="Among Us"> </a> </div>
        <div class="Text">Among Us</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Payday.png" class="zoom-img" alt="Payday"> </a> </div>
        <div class="Text">Payday</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Payday_2.jpg" class="zoom-img" alt="Payday 2"> </a> </div>
        <div class="Text">Payday 2</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Payday_3.jpg" class="zoom-img" alt="Payday 3"> </a> </div>
        <div class="Text">Payday 3</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Worms.png" class="zoom-img" alt="Worms Reloaded"> </a> </div>
        <div class="Text">Worms Reloaded</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Beyond.jpg" class="zoom-img" alt="Beyond : Two Souls"> </a> </div>
        <div class="Text">Beyond : Two Souls</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Dayz.jpg" class="zoom-img" alt="Dayz"> </a> </div>
        <div class="Text">Dayz</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/No_Man's_Sky.png" class="zoom-img" alt="No Man’s Sky"> </a> </div>
        <div class="Text">No Man’s Sky</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Rainbow_Six_Siege.jpg" class="zoom-img" alt="Tom Clancy’s Rainbow Six : Siedge"> </a> </div>
        <div class="Text">Tom Clancy’s Rainbow Six : Siedge</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Mafia.jpg" class="zoom-img" alt="Mafia"> </a> </div>
        <div class="Text">Mafia</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">  
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Mafia_2.jpeg" class="zoom-img" alt="Mafia 2"> </a> </div>
        <div class="Text">Mafia 2</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Mafia_3.png" class="zoom-img" alt="Mafia 3"> </a> </div>
        <div class="Text">Mafia 3</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Mafia_Def.png" class="zoom-img" alt="Mafia: Definitive Edition"> </a> </div>
        <div class="Text">Mafia: Definitive Edition</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Plague_Tale_1.jpg" class="zoom-img" alt="A Plague Tale : Innocence"> </a> </div>
        <div class="Text">A Plague Tale : Innocence</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Plague_Tale_2.jpg" class="zoom-img" alt="A Plague Tale: Requiem"> </a> </div>
        <div class="Text">A Plague Tale: Requiem</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Escapists.png" class="zoom-img" alt="The Escapists"> </a> </div>
        <div class="Text">The Escapists</div>
        </div>
      </div>

    </div>
    </div>
  </section>
  
      <footer> 
        <nav aria-label="Pages">
          <ul>
            <li class="inline-text">
                <a class="c-btn c-btn--big-line" href="/first_page" data-hover-name="1">1</a>
            </li>
  
            <li class="inline-text">
              <a class="c-btn c-btn--big-line" href="/second_page" data-hover-name="2">2</a>
            </li>
  
            <li class="inline-text">
                <a class="c-btn c-btn--big-line" href="/third_page" data-hover-name="3">3</a>
            </li>
  
            <li class="inline-text">
              <a class="c-btn c-btn--big-line" href="/fourth_page" data-hover-name="4">4</a>
            </li>
  
            <li class="inline-text">
              <a class="c-btn c-btn--big-line" href="/fifth_page" data-hover-name="5">5</a>
            </li>
  
            <li class="inline-text">
              <a class="c-btn c-btn--big-line" href="/sixth_page" data-hover-name="6">6</a>
            </li>
          </ul>
        </nav>
  
        <div class = "Information_Follow">
          Следите за нами
        </div>
  
        <nav aria-label="Icons">
          <ul>
            <li class="inline-image"> <a href="https://t.me/Fetyper"> <img src="/static/icons/Telegram.png" alt="Telegram"></a></li>
            <li class="inline-image"> <a href="https://vk.com/coolstudent1"> <img src="/static/icons/VK.png" alt="VK"></a></li>
            <li class="inline-image"> <a href="https://github.com/Sonic11-stack?tab=overview&from=2024-12-01&to=2024-12-08"> <img src="/static/icons/GitHub.png" alt="GitHub"></a></li>
          </ul>
        </nav>
  
        <div class = "Information_Contact">
          Почта для связи: matvejnazarov4@gmail.com
        </div>
        <div class = "Information_Year">
          © 2025. Все права защищены
        </div>
      </footer>
  </body>
</html>