<!DOCTYPE html>
<html>
<head>
  <title>Первая страница</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Новости игровой индустрии, игры"/>
  <link rel="stylesheet" href="/static/css/Games.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bebas_neue_bold.css">
  <link type="image/x-icon" href="/static/icons/Logo.ico" rel="shortcut icon">
  <link type="Image/x-icon" href="/static/icons/Logo.ico" rel="icon">
  <script src="/static/javascript/Log_And_Logout.js" defer></script>
  <script src="/static/javascript/Pages.js" defer></script>
  <script src="/static/javascript/First_Page.js" defer></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <section class="Background"><img src="/static/images/Wall_For_Site.jpg"></section>

    <header>
      <section class="Line">
        <nav aria-label="Menu">
          <ul>
            <li class="inline-text"><a class="c-btn c-btn--big-line" href="/news_first_page" data-hover-name="Новости" style="font-family: 'Bebas Neue Bold';">Новости</a></li>

            <li class="inline-text"><a class="c-btn c-btn--big-line" href="/first_page" data-hover-name="Игры" style="font-family: 'Bebas Neue Bold';">Игры</a></li>

            <li class="inline-text"><a class="c-btn c-btn--big-line" href="/game_engines" data-hover-name="Игровые движки" style="font-family: 'Bebas Neue Bold';">Игровые движки</a></li>
          </ul>
        </nav>
        
        {% if not is_authenticated %}
        <div class="auth-links">
             <a href="/login" style="font-family: 'Bebas Neue Bold';" class="c-btn c-btn--big-line auth-link" data-hover-name="Вход">Вход</a> /
             <a href="/reg" style="font-family: 'Bebas Neue Bold';" class="c-btn c-btn--big-line auth-link" data-hover-name="Регистрация">Регистрация</a>
        </div>
        {% else %}
           <div class="auth-links-1">
             <a href="/profile"><img src="/static/icons/Test Account.png" alt="Логотип" class="logo"></a>
             <a href="/logout" id="logoutBtn" style="font-family: 'Bebas Neue Bold';" class="c-btn c-btn--big-line auth-link-1" data-hover-name="Выйти">Выйти</a>
           </div>
        {% endif %}

    <div class="logo-container">
        <a href="/news_first_page"><img src="/static/icons/Logo.jpg" alt="Логотип" class="logo"></a>
        <span class="logo-text" style="font-family: 'Bebas Neue Bold';">Code&Play</span>
    </div>
        
      </section>
    </header>

  <section class="Games">
    <div class="container">
      <div class="grid-container">
        <div class="game-item">
        <div class="game-card"><a href="/game/1"><img src="/static/images/Game_1.jpg" class="zoom-img" data-game-id="1" alt="The Last of Us"></a></div>
        <div class="Text">/get_text/1</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/2"><img src="/static/images/Game_2.jpg" class="zoom-img" data-game-id="2" alt="The Last of Us Part 2"></a></div>
        <div class="Text">/get_text/2</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/3"><img src="/static/images/Game_3.jpg" class="zoom-img" data-game-id="3" alt="Horizon: Zero Dawn"></a></div>
        <div class="Text">/get_text/3</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">
        <div class="game-card"><a href="/game/4"><img src="/static/images/Game_4.jpg" class="zoom-img" alt="Horizen: Forbidden West"></a></div>
        <div class="Text">/get_text/4</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/5"><img src="/static/images/Game_5.jpg" class="zoom-img" alt="Mass Effect"></a></div>
        <div class="Text">/get_text/5</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/6"><img src="/static/images/Game_6.jpg" class="zoom-img" alt="Mass Effect 2"></a></div>
        <div class="Text">/get_text/6</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">
        <div class="game-card"><a href="/game/7"><img src="/static/images/Game_7.jpg" class="zoom-img" alt="Mass Effect 3"></a></div>
        <div class="Text">/get_text/7</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/8"><img src="/static/images/Game_8.jpg" class="zoom-img" alt="Mortal Kombat 9"></a></div>
        <div class="Text">/get_text/8</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/9"><img src="/static/images/Game_9.jpg" class="zoom-img" alt="Mortal Kombat 10"></a></div>
        <div class="Text">/get_text/9</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">
        <div class="game-card"><a href="/game/10"><img src="/static/images/Game_10.jpg" class="zoom-img" alt="Mortal Kombat 11"></a></div>
        <div class="Text">/get_text/10</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/11"><img src="/static/images/Game_11.jpg" class="zoom-img" alt="Mortal Kombat 1"></a></div>
        <div class="Text">/get_text/11</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/12"><img src="/static/images/Game_12.jpg" class="zoom-img" alt="Portal"></a></div>
        <div class="Text">/get_text/12</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">
        <div class="game-card"><a href="/game/13"><img src="/static/images/Game_13.jpg" class="zoom-img" alt="Portal 2"></a></div>
        <div class="Text">/get_text/13</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/14"><img src="/static/images/Game_14.jpg" class="zoom-img" alt="World Of Warcraft"></a></div>
        <div class="Text">/get_text/14</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/15"><img src="/static/images/Game_15.jpg" class="zoom-img" alt="Cyberpunk 2077"></a></div>
        <div class="Text">/get_text/15</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">
        <div class="game-card"><a href="/game/16"><img src="/static/images/Game_16.jpg" class="zoom-img" alt="GTA 5"></a></div>
        <div class="Text">/get_text/16</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/17"><img src="/static/images/Game_17.jpg" class="zoom-img" alt="Minecraft"></a></div>
        <div class="Text">/get_text/17</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/18"><img src="/static/images/Game_18.jpg" class="zoom-img" alt="Half-Life"></a></div>
        <div class="Text">/get_text/18</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">
        <div class="game-card"><a href="/game/19"><img src="/static/images/Game_19.jpg" class="zoom-img" alt="Half-Life 2"></a></div>
        <div class="Text">/get_text/19</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/20"><img src="/static/images/Game_20.jpg" class="zoom-img" alt="The Withcer 3 : Wild Hunt"></a></div>
        <div class="Text">/get_text/20</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/21"><img src="/static/images/Game_21.jpg" class="zoom-img" alt="Tomb Raider"></a></div>
        <div class="Text">/get_text/21</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">
        <div class="game-card"><a href="/game/22"><img src="/static/images/Game_22.jpg" class="zoom-img" alt="Spore"></a></div>
        <div class="Text">/get_text/22</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/23"><img src="/static/images/Game_23.jpg" class="zoom-img" alt="Team Fortress 2"></a></div>
        <div class="Text">/get_text/23</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/24"><img src="/static/images/Game_24.jpg" class="zoom-img" alt="Terraria"></a></div>
        <div class="Text">/get_text/24</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">
        <div class="game-card"><a href="/game/25"><img src="/static/images/Game_25.jpg" class="zoom-img" alt="Dark Souls"></a></div>
        <div class="Text">/get_text/25</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/26"><img src="/static/images/Game_26.jpg" class="zoom-img" alt="Dark Souls 2"></a></div>
        <div class="Text">/get_text/26</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/27"><img src="/static/images/Game_27.jpg" class="zoom-img" alt="Dark Souls 3"></a></div>
        <div class="Text">/get_text/27</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">
        <div class="game-card"><a href="/game/28"><img src="/static/images/Game_28.jpg" class="zoom-img" alt="Elden Ring"></a></div>
        <div class="Text">/get_text/28</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/29"><img src="/static/images/Game_29.jpg" class="zoom-img" alt="The Walking Dead"></a></div>
        <div class="Text">/get_text/29</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/30"><img src="/static/images/Game_30.jpg" class="zoom-img" alt="The Sims 4"></a></div>
        <div class="Text">/get_text/30</div>
        </div>
      </div>
    </div>
  </section>

      <footer>
        <nav aria-label="Pages">
          <ul>
            <li class="inline-text"><a class="c-btn c-btn--big-line" href="/first_page" data-hover-name="1">1</a></li>
  
            <li class="inline-text"><a class="c-btn c-btn--big-line" href="/second_page" data-hover-name="2">2</a></li>
  
            <li class="inline-text"><a class="c-btn c-btn--big-line" href="/third_page" data-hover-name="3">3</a></li>
  
            <li class="inline-text"><a class="c-btn c-btn--big-line" href="/fourth_page" data-hover-name="4">4</a></li>
  
            <li class="inline-text"><a class="c-btn c-btn--big-line" href="/fifth_page" data-hover-name="5">5</a></li>
  
            <li class="inline-text"><a class="c-btn c-btn--big-line" href="/sixth_page" data-hover-name="6">6</a></li>
          </ul>
        </nav>

        <div class="Information_Follow">Следите за нами</div>

        <nav aria-label="Icons">
          <ul>
            <li class="inline-image"><a href="https://t.me/Fetyper"> <img src="/static/icons/Telegram.png" alt="Telegram"></a></li>
            <li class="inline-image"><a href="https://vk.com/coolstudent1"> <img src="/static/icons/VK.png" alt="VK"></a></li>
            <li class="inline-image"><a href="https://github.com/Sonic11-stack?tab=overview&from=2024-12-01&to=2024-12-08"> <img src="/static/icons/GitHub.png" alt="GitHub"></a></li>
          </ul>
        </nav>

        <div class="Information_Contact">Почта для связи: matvejnazarov4@gmail.com</div>
        <div class="Information_Year">© 2025. Все права защищены</div>
      </footer>
  </body>
</html>