<!DOCTYPE html>
<html>
<head>
  <title>Четвёртая страница</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Новости игровой индустрии, игры"/>
  <link rel = "stylesheet" type = "text/css" href = "/static/css/Games.css">
  <script src="/static/javascript/List_Of_Commands.js" defer></script>
  <link type="image/x-icon" href="../Logo/Group 2.ico" rel="shortcut icon">
  <link type="Image/x-icon" href="../Logo/Group 2.ico" rel="icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <section class="Background">
    </section>

     <header>
      <section class = "Line">
      <nav aria-label="Menu">
        <ul>
          <li class="inline-text"><a href="/news_first_page">Новости</a></li>
          <li class="inline-text"><a href="/first_page">Игры</a></li>
          <li class="inline-text"><a href="/game_engine">Игровые движки</a></li>
        </ul>
      </nav>
      <div class="auth-links">
        <a href="/login" class="auth-link">Вход</a> /
        <a href="/reg" class="auth-link">Регистрация</a>
      </div>
      </section>
    </header>

  <section class="Games">
    <div class="container">
      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/The_Evil_Within.jpeg" class="zoom-img" alt="The Evil Within"> </a> </div>
        <div class="Text">The Evil Within</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/The_Evil_Within_2.jpeg" class="zoom-img" alt="The Evil Within 2"> </a> </div>
        <div class="Text">The Evil Within 2</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Sifu.jpeg" class="zoom-img" alt="Sifu"> </a> </div>
        <div class="Text">Sifu</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Yuppie_Phycho.jpg" class="zoom-img" alt="Yuppie phycho"> </a> </div>
        <div class="Text">Yuppie phycho</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Outcore.jpg" class="zoom-img" alt="Outcore"> </a> </div>
        <div class="Text">Outcore</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Dying_Light.jpeg" class="zoom-img" alt="Dying Light"> </a> </div>
        <div class="Text">Dying Light</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Dying_Light_2.jpg" class="zoom-img" alt="Dying Light 2"> </a> </div>
        <div class="Text">Dying Light 2</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Atomic_Heart.jpg" class="zoom-img" alt="Atomic Heart"> </a> </div>
        <div class="Text">Atomic Heart</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/The_Long_Dark.jpg" class="zoom-img" alt="The Long Dark"> </a> </div>
        <div class="Text">The Long Dark</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Zomboid.jpg" class="zoom-img" alt="Project Zomboid"> </a> </div>
        <div class="Text">Project Zomboid</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Farming.jpg" class="zoom-img" alt="Farming Simulator"> </a> </div>
        <div class="Text">Farming Simulator</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Overwatch.jpg" class="zoom-img" alt="Overwatch"> </a> </div>
        <div class="Text">Overwatch</div>
        </div>
      </div>
    
      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Spider_Man.jpg" class="zoom-img" alt="Spider Man"> </a> </div>
        <div class="Text">Spider Man</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Spider_Man_2.jpg" class="zoom-img" alt="Spider Man 2"> </a> </div>
        <div class="Text">Spider Man 2</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Alan_Wake.jpg" class="zoom-img" alt="Alan Wake"> </a> </div>
        <div class="Text">Alan Wake</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Buckshoot.jpg" class="zoom-img" alt="Buckshoot Roulette"> </a> </div>
        <div class="Text">Buckshoot Roulette</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Bioshock.jpg" class="zoom-img" alt="BioShock"> </a> </div>
        <div class="Text">BioShock</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Bioshock_2.jpeg" class="zoom-img" alt="BioShock 2"> </a> </div>
        <div class="Text">BioShock 2</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Edge.jpg" class="zoom-img" alt="Mirror’s Edge"> </a> </div>
        <div class="Text">Mirror’s Edge</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Left_4_Dead.jpg" class="zoom-img" alt="Left 4 Dead"> </a> </div>
        <div class="Text">Left 4 Dead</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Left_4_Dead_2.jpeg" class="zoom-img" alt="Left 4 Dead 2"> </a> </div>
        <div class="Text">Left 4 Dead 2</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Dead_Space.jpg" class="zoom-img" alt="Dead Space"> </a> </div>
        <div class="Text">Dead Space</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Dead_Space_2.jpg" class="zoom-img" alt="Dead Space 2"> </a> </div>
        <div class="Text">Dead Space 2</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Watch_Dogs.jpg" class="zoom-img" alt="Watch Dogs"> </a> </div>
        <div class="Text">Watch Dogs</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Watch_Dogs_2.jpg" class="zoom-img" alt="Watch Dogs 2"> </a> </div>
        <div class="Text">Watch Dogs 2</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Watch_Dogs_Legion.jpg" class="zoom-img" alt="Watch Dogs Legion"> </a> </div>
        <div class="Text">Watch Dogs Legion</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/WOT.jpg" class="zoom-img" alt="World of Tanks"> </a> </div>
        <div class="Text">World of Tanks</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Limbo.jpg" class="zoom-img" alt="Limbo"> </a> </div>
        <div class="Text">Limbo</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Borderlands.jpg" class="zoom-img" alt="Borderlands"> </a> </div>
        <div class="Text">Borderlands</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Borderlands_2.jpg" class="zoom-img" alt="Borderlands 2"> </a> </div>
        <div class="Text">Borderlands 2</div>
        </div>
      </div>

    </div>
    </div>
  </section>
  
      <footer> 
        <nav aria-label="Pages">
          <ul>
            <li class="inline-text"><a href="/first_page">1</a></li>
            <li class="inline-text"><a href="/second_page">2</a></li>
            <li class="inline-text"><a href="/third_page">3</a></li>
            <li class="inline-text"><a href="/fourth_page">4</a></li>
            <li class="inline-text"><a href="/fifth_page">5</a></li>
            <li class="inline-text"><a href="/sixth_page">6</a></li>
          </ul>
        </nav>
  
        <div class = "Information_Follow">
          Следите за нами
        </div>
  
        <nav aria-label="Icons">
          <ul>
            <li class="inline-image"> <a href="https://t.me/Fetyper"> <img src="/static/icons/Telegram.png" alt="Telegram"></a></li>
            <li class="inline-image"> <a href="https://vk.com/coolstudent1"> <img src="/static/icons/VK.png" alt="VK"></a></li>
            <li class="inline-image"> <a href="https://github.com/Sonic11-stack?tab=overview&from=2024-12-01&to=2024-12-08"> <img src="/static/icons/GitHub.png" alt="GitHub"></a></li>
          </ul>
        </nav>
  
        <div class = "Information_Contact">
          Почта для связи: matvejnazarov4@gmail.com
        </div>
        <div class = "Information_Year">
          © 2024. Все права защищены
        </div>
      </footer>
  </body>
</html>