<!DOCTYPE html>
<html>
<head>
  <title>Четвёртая страница</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Новости игровой индустрии, игры"/>
  <link rel = "stylesheet" type = "text/css" href = "../CSS/Games.css">
  <script src="../JavaScript/List_Of_Commands.js" defer></script>
  <link type="image/x-icon" href="../Logo/Group 2.ico" rel="shortcut icon">
  <link type="Image/x-icon" href="../Logo/Group 2.ico" rel="icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <section class="Background">
    </section>

     <header>
      <section class = "Line">
      <nav aria-label="Menu">
        <ul>
          <li class="inline-text"><a href="../HTML/News_First_Page.html">Новости</a></li>
          <li class="inline-text"><a href="../HTML/First_Page.html">Игры</a></li>
          <li class="inline-text"><a href="../HTML/Game_Engines.html">Игровые движки</a></li>
        </ul>
      </nav>
      <div class="auth-links">
        <a href="#login" class="auth-link">Вход</a> /
        <a href="#register" class="auth-link">Регистрация</a>
      </div>
      </section>
    </header>

  <section class="Games">
    <div class="container">
      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/The_Evil_Within.jpeg" class="zoom-img" alt="The Evil Within"> </div>
        <div class="Text">The Evil Within</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/The_Evil_Within_2.jpeg" class="zoom-img" alt="The Evil Within 2"> </div>
        <div class="Text">The Evil Within 2</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Sifu.jpeg" class="zoom-img" alt="Sifu"> </div>
        <div class="Text">Sifu</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Yuppie_Phycho.jpg" class="zoom-img" alt="Yuppie phycho"> </div>
        <div class="Text">Yuppie phycho</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Outcore.jpg" class="zoom-img" alt="Outcore"> </div>
        <div class="Text">Outcore</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Dying_Light.jpeg" class="zoom-img" alt="Dying Light"> </div>
        <div class="Text">Dying Light</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Dying_Light_2.jpg" class="zoom-img" alt="Dying Light 2"> </div>
        <div class="Text">Dying Light 2</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Atomic_Heart.jpg" class="zoom-img" alt="Atomic Heart"> </div>
        <div class="Text">Atomic Heart</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/The_Long_Dark.jpg" class="zoom-img" alt="The Long Dark"> </div>
        <div class="Text">The Long Dark</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Zomboid.jpg" class="zoom-img" alt="Project Zomboid"> </div>
        <div class="Text">Project Zomboid</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Farming.jpg" class="zoom-img" alt="Farming Simulator"> </div>
        <div class="Text">Farming Simulator</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Overwatch.jpg" class="zoom-img" alt="Overwatch"> </div>
        <div class="Text">Overwatch</div>
        </div>
      </div>
    
      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Spider_Man.jpg" class="zoom-img" alt="Spider Man"> </div>
        <div class="Text">Spider Man</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Spider_Man_2.jpg" class="zoom-img" alt="Spider Man 2"> </div>
        <div class="Text">Spider Man 2</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Alan_Wake.jpg" class="zoom-img" alt="Alan Wake"> </div>
        <div class="Text">Alan Wake</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Buckshoot.jpg" class="zoom-img" alt="Buckshoot Roulette"> </div>
        <div class="Text">Buckshoot Roulette</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Bioshock.jpg" class="zoom-img" alt="BioShock"> </div>
        <div class="Text">BioShock</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Bioshock_2.jpeg" class="zoom-img" alt="BioShock 2"> </div>
        <div class="Text">BioShock 2</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Edge.jpg" class="zoom-img" alt="Mirror’s Edge"> </div>
        <div class="Text">Mirror’s Edge</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Left_4_Dead.jpg" class="zoom-img" alt="Left 4 Dead"> </div>
        <div class="Text">Left 4 Dead</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Left_4_Dead_2.jpeg" class="zoom-img" alt="Left 4 Dead 2"> </div>
        <div class="Text">Left 4 Dead 2</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Dead_Space.jpg" class="zoom-img" alt="Dead Space"> </div>
        <div class="Text">Dead Space</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Dead_Space_2.jpg" class="zoom-img" alt="Dead Space 2"> </div>
        <div class="Text">Dead Space 2</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Watch_Dogs.jpg" class="zoom-img" alt="Watch Dogs"> </div>
        <div class="Text">Watch Dogs</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Watch_Dogs_2.jpg" class="zoom-img" alt="Watch Dogs 2"> </div>
        <div class="Text">Watch Dogs 2</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Watch_Dogs_Legion.jpg" class="zoom-img" alt="Watch Dogs Legion"> </div>
        <div class="Text">Watch Dogs Legion</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/WOT.jpg" class="zoom-img" alt="World of Tanks"> </div>
        <div class="Text">World of Tanks</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Limbo.jpg" class="zoom-img" alt="Limbo"> </div>
        <div class="Text">Limbo</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Borderlands.jpg" class="zoom-img" alt="Borderlands"> </div>
        <div class="Text">Borderlands</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Borderlands_2.jpg" class="zoom-img" alt="Borderlands 2"> </div>
        <div class="Text">Borderlands 2</div>
        </div>
      </div>

    </div>
    </div>
  </section>
  
      <footer> 
        <nav aria-label="Pages">
          <ul>
            <li class="inline-text"><a href="../HTML/First_Page.html">1</a></li>
            <li class="inline-text"><a href="../HTML/Second_Page.html">2</a></li>
            <li class="inline-text"><a href="../HTML/Third_Page.html">3</a></li>
            <li class="inline-text"><a href="../HTML/Fourth_Page.html">4</a></li>
            <li class="inline-text"><a href="../HTML/Fifth_Page.html">5</a></li>
            <li class="inline-text"><a href="../HTML/Sixth_Page.html">6</a></li>
          </ul>
        </nav>
  
        <div class = "Information_Follow">
          Следите за нами
        </div>
  
        <nav aria-label="Icons">
          <ul>
            <li class="inline-image"> <a href="https://t.me/Fetyper"> <img src="../Icons/Telegram.png" alt="Telegram"></a></li>
            <li class="inline-image"> <a href="https://vk.com/coolstudent1"> <img src="../Icons/VK.png" alt="VK"></a></li>
            <li class="inline-image"> <a href="https://github.com/Sonic11-stack?tab=overview&from=2024-12-01&to=2024-12-08"> <img src="../Icons/GitHub.png" alt="GitHub"></a></li>
          </ul>
        </nav>
  
        <div class = "Information_Contact">
          Почта для связи: matvejnazarov4@gmail.com
        </div>
        <div class = "Information_Year">
          © 2024. Все права защищены
        </div>
      </footer>
  </body>
</html>