<!DOCTYPE html>
<html>
<head>
  <title>Новости</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Новости игровой индустрии, игры"/>
  <link rel = "stylesheet" type = "text/css" href = "/static/css/Game_Engines.css">
  <script src="/static/javascript/List_Of_Commands.js" defer></script>
  <link type="image/x-icon" href="../Logo/Group 2.ico" rel="shortcut icon">
  <link type="Image/x-icon" href="../Logo/Group 2.ico" rel="icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

  <section class="Background">
  </section>

  <header>
    <section class = "Line">
    <nav aria-label="Menu">
      <ul>
          <li class="inline-text"><a href="/news_first_page">Новости</a></li>
          <li class="inline-text"><a href="/first_page">Игры</a></li>
          <li class="inline-text"><a href="/game_engines">Игровые движки</a></li>
      </ul>
    </nav>
    <div class="auth-links">
      <a href="/login" class="auth-link">Вход</a> /
      <a href="/reg" class="auth-link">Регистрация</a>
    </div>
    </section>
  </header>

  <section class="Games">
    <div class="container">
      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/unity"> <img src="/static/icons/Unity.png" class="zoom-img" alt="Unity"> </a> </div>
        <div class="Text">Unity</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/unreal_engine"> <img src="/static/icons/Unreal.png" class="zoom-img" alt="Unreal Engine"> </a> </div>
        <div class="Text">Unreal Engine</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/godot"> <img src="/static/icons/Godot.png" class="zoom-img" alt="Godot"> </a> </div>
        <div class="Text">Godot</div>
        </div>
      </div>
    </div>
  </section>
  
      <footer> 
      <nav aria-label="Pages">
        <ul>
          <li class="inline-text"><a href="../HTML/News_First_Page.html">1</a></li>
          <li class="inline-text"><a href="../HTML/News_Second_Page.html">2</a></li>
          <li class="inline-text"><a href="../HTML/News_Third_Page.html">3</a></li>
          <li class="inline-text"><a href="../HTML/News_Fourth_Page.html">4</a></li>
          <li class="inline-text"><a href="../HTML/News_Fifth_Page.html">5</a></li>
          <li class="inline-text"><a href="../HTML/News_Sixth_Page.html">6</a></li>
        </ul>
      </nav>

      <div class = "Information_Follow">
        Следите за нами
      </div>

      <nav aria-label="Icons">
        <ul>
          <li class="inline-image"> <a href="https://t.me/Fetyper"> <img src="/static/icons/Telegram.png" alt="Telegram"></a></li>
          <li class="inline-image"> <a href="https://vk.com/coolstudent1"> <img src="/static/icons/VK.png" alt="VK"></a></li>
          <li class="inline-image"> <a href="https://github.com/Sonic11-stack?tab=overview&from=2024-12-01&to=2024-12-08"> <img src="/static/icons/GitHub.png" alt="GitHub"></a></li>
        </ul>
      </nav>

      <div class = "Information_Contact">
        Почта для связи: matvejnazarov4@gmail.com
      </div>
      <div class = "Information_Year">
        © 2024. Все права защищены
      </div>
      </footer>
  </body>
</html>