<!DOCTYPE html>
<html>
<head>
  
  <title>Игры</title>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Новости игровой индустрии, игры"/>
  <link rel = "stylesheet" type = "text/css" href = "../CSS/Games.css">
  <link type="image/x-icon" href="../Logo/Group 2.ico" rel="shortcut icon">
  <link type="Image/x-icon" href="../Logo/Group 2.ico" rel="icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
</head>

<body>

    <section class = "Background">
       <!-- <img src = "../Images/Wall_For_Site.png" class = "Main_Picture"> -->
    </section>

  <header>
    
    <div class = "container">
        <span class="inline-text" onclick="redirectToNews()">Новости</span>
        <span class="inline-text" onclick="redirectToGames()">Игры</span>
        <span class="inline-text" onclick="redirectToGameEngines()">Игровые движки</span>
    </div>
  </header>

  <section class = "Games">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4" onclick="redirectToTheLastOfUs()"> 
          <div class="text-center animate__animated">
          <img src="../Images/The_Last_Of_Us.png" class="zoom-img" style = " border-radius: 40px; 
          margin: 20px auto; 
          max-width: 100%;
          background-size: cover; 
          background-position: center;
          cursor: pointer;">
          <div class = "Text">The Last Of Us</div>
        </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"> 
            <div class="text-center animate__animated">
            <img src="../Images/The_Last_Of_Us_2.jpg" class="zoom-img" style = " border-radius: 40px; 
            margin: 20px auto; 
            max-width: 100%;
            background-size: cover; 
            background-position: center;
            cursor: pointer;">
            <div class = "Text">The Last Of Us Part 2</div>
          </div>
          </div>

          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"> 
            <div class="text-center animate__animated">
            <img src="../Images/Horizon_1.jpeg" class="zoom-img" style = " border-radius: 40px; 
            margin: 20px auto; 
            max-width: 100%;
            background-size: cover; 
            background-position: center;
            cursor: pointer;">
            <div class = "Text">Horizen : Zero Dawn</div>
          </div>
          </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"> 
          <div class="text-center animate__animated">
          <img src="../Images/Horizon_2.png" class="zoom-img" style = " border-radius: 40px; 
          margin: 20px auto; 
          max-width: 100%;
          background-size: cover; 
          background-position: center;
          cursor: pointer;">
          <div class = "Text">Horizen : Forbidden West</div>
        </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"> 
            <div class="text-center animate__animated">
            <img src="../Images/Mass_Effect.jpg" class="zoom-img" style = " border-radius: 40px; 
            margin: 20px auto; 
            max-width: 100%;
            background-size: cover; 
            background-position: center;
            cursor: pointer;">
            <div class = "Text">Mass Effect</div>
          </div>
          </div>

          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"> 
            <div class="text-center animate__animated">
            <img src="../Images/Mass_Effect_2.jpeg" class="zoom-img" style = " border-radius: 40px; 
            margin: 20px auto; 
            max-width: 100%;
            background-size: cover; 
            background-position: center;
            cursor: pointer;">
            <div class = "Text">Mass Effect 2</div>
          </div>
          </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"> 
          <div class="text-center animate__animated">
          <img src="../Images/Mass_Effect_3.jpg" class="zoom-img" style = " border-radius: 40px; 
          margin: 20px auto; 
          max-width: 100%;
          background-size: cover; 
          background-position: center;
          cursor: pointer;">
          <div class = "Text">Mass Effect 3</div>
        </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"> 
            <div class="text-center animate__animated">
            <img src="../Images/Mortal_Kombat_9.jpg" class="zoom-img" style = " border-radius: 40px; 
            margin: 20px auto; 
            max-width: 100%;
            background-size: cover; 
            background-position: center;
            cursor: pointer;">
            <div class = "Text">Mortal Kombat 9</div>
          </div>
          </div>

          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"> 
            <div class="text-center animate__animated">
            <img src="../Images/Mortal_Kombat_10.png" class="zoom-img" style = " border-radius: 40px; 
            margin: 20px auto; 
            max-width: 100%;
            background-size: cover; 
            background-position: center;
            cursor: pointer;">
            <div class = "Text">Mortal Kombat 10</div>
          </div>
          </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"> 
          <div class="text-center animate__animated">
          <img src="../Images/Mortal-Kombat-11.jpg" class="zoom-img" style = " border-radius: 40px; 
          margin: 20px auto; 
          max-width: 100%;
          background-size: cover; 
          background-position: center;
          cursor: pointer;">
          <div class = "Text">Mortal Kombat 11</div>
        </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"> 
            <div class="text-center animate__animated">
            <img src="../Images/kak-kupit-mortal-kombat-1-dlya-ps5-xbox-x-s-steam-i-nintendo-switch.jpg" class="zoom-img" style = " border-radius: 40px; 
            margin: 20px auto; 
            max-width: 100%;
            background-size: cover; 
            background-position: center;
            cursor: pointer;">
            <div class = "Text">Mortal Kombat 1</div>
          </div>
          </div>
          
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"> 
            <div class="text-center animate__animated">
            <img src="../Images/PORTAL_WALLPAPER1.jpg" class="zoom-img" style = " border-radius: 40px; 
            margin: 20px auto; 
            max-width: 100%;
            background-size: cover; 
            background-position: center;
            cursor: pointer;">
            <div class = "Text">Portal</div>
          </div>
          </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"> 
          <div class="text-center animate__animated">
          <img src="../Images/Portal_2.jpg" class="zoom-img" style = " border-radius: 40px; 
          margin: 20px auto; 
          max-width: 100%;
          background-size: cover; 
          background-position: center;
          cursor: pointer;">
          <div class = "Text">Portal 2</div>
        </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"> 
            <div class="text-center animate__animated">
            <img src="../Images/WOW.jpg" class="zoom-img" style = " border-radius: 40px; 
            margin: 20px auto; 
            max-width: 100%;
            background-size: cover; 
            background-position: center;
            cursor: pointer;">
            <div class = "Text">World Of Warcraft</div>
          </div>
          </div>
          
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"> 
            <div class="text-center animate__animated">
            <img src="../Images/Cyberpunk_2077.jpeg" class="zoom-img" style = " border-radius: 40px; 
            margin: 20px auto; 
            max-width: 100%;
            background-size: cover; 
            background-position: center;
            cursor: pointer;">
            <div class = "Text">Cyberpunk 2077</div>
          </div>
          </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"> 
          <div class="text-center animate__animated">
          <img src="../Images/GTA_5.jpg" class="zoom-img" style = " border-radius: 40px; 
          margin: 20px auto; 
          max-width: 100%;
          background-size: cover; 
          background-position: center;
          cursor: pointer;">
          <div class = "Text">GTA 5</div>
        </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"> 
            <div class="text-center animate__animated">
            <img src="../Images/Minecraft.jpg" class="zoom-img" style = " border-radius: 40px; 
            margin: 20px auto; 
            max-width: 100%;
            background-size: cover; 
            background-position: center;
            cursor: pointer;">
            <div class = "Text">Minecraft</div>
          </div>
          </div>
          
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"> 
            <div class="text-center animate__animated">
            <img src="../Images/Half-Life.jpg" class="zoom-img" style = " border-radius: 40px; 
            margin: 20px auto; 
            max-width: 100%;
            background-size: cover; 
            background-position: center;
            cursor: pointer;">
            <div class = "Text">Half-Life</div>
          </div>
          </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"> 
          <div class="text-center animate__animated">
          <img src="../Images/Half_Life_2.png" class="zoom-img" style = " border-radius: 40px; 
          margin: 20px auto; 
          max-width: 100%;
          background-size: cover; 
          background-position: center;
          cursor: pointer;">
          <div class = "Text">Half-Life 2</div>
        </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"> 
            <div class="text-center animate__animated">
            <img src="../Images/The_Witcher_3.png" class="zoom-img" style = " border-radius: 40px; 
            margin: 20px auto; 
            max-width: 100%;
            background-size: cover; 
            background-position: center;
            cursor: pointer;">
            <div class = "Text">The Withcer 3 : Wild Hunt</div>
          </div>
          </div>
          
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"> 
            <div class="text-center animate__animated">
            <img src="../Images/Tomb_Raider.jpg" class="zoom-img" style = " border-radius: 40px; 
            margin: 20px auto; 
            max-width: 100%;
            background-size: cover; 
            background-position: center;
            cursor: pointer;">
            <div class = "Text">Tomb Raider</div>
          </div>
          </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"> 
          <div class="text-center animate__animated">
          <img src="../Images/Spore.jpg" class="zoom-img" style = " border-radius: 40px; 
          margin: 20px auto; 
          max-width: 100%;
          background-size: cover; 
          background-position: center;
          cursor: pointer;">
          <div class = "Text">Spore</div>
        </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"> 
            <div class="text-center animate__animated">
            <img src="../Images/Team_Fortress_2.jpg" class="zoom-img" style = " border-radius: 40px; 
            margin: 20px auto; 
            max-width: 100%;
            background-size: cover; 
            background-position: center;
            cursor: pointer;">
            <div class = "Text">Team Fortress 2</div>
          </div>
          </div>
          
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"> 
            <div class="text-center animate__animated">
            <img src="../Images/Terraria.png" class="zoom-img" style = " border-radius: 40px; 
            margin: 20px auto; 
            max-width: 100%;
            background-size: cover; 
            background-position: center;
            cursor: pointer;">
            <div class = "Text">Terraria</div>
          </div>
          </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"> 
          <div class="text-center animate__animated">
          <img src="../Images/Dark_Souls.jpeg" class="zoom-img" style = " border-radius: 40px; 
          margin: 20px auto; 
          max-width: 100%;
          background-size: cover; 
          background-position: center;
          cursor: pointer;">
          <div class = "Text">Dark Souls</div>
        </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"> 
            <div class="text-center animate__animated">
            <img src="../Images/Dark_Souls_2.jpeg" class="zoom-img" style = " border-radius: 40px; 
            margin: 20px auto; 
            max-width: 100%;
            background-size: cover; 
            background-position: center;
            cursor: pointer;">
            <div class = "Text">Dark Souls 2</div>
          </div>
          </div>
          
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"> 
            <div class="text-center animate__animated">
            <img src="../Images/Dark_Souls_3.jpg" class="zoom-img" style = " border-radius: 40px; 
            margin: 20px auto; 
            max-width: 100%;
            background-size: cover; 
            background-position: center;
            cursor: pointer;">
            <div class = "Text">Dark Souls 3</div>
          </div>
          </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"> 
          <div class="text-center animate__animated">
          <img src="../Images/Elden_Ring.jpeg" class="zoom-img" style = " border-radius: 40px; 
          margin: 20px auto; 
          max-width: 100%;
          background-size: cover; 
          background-position: center;
          cursor: pointer;">
          <div class = "Text">Elden Ring</div>
        </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"> 
            <div class="text-center animate__animated">
            <img src="../Images/The_Walking_Dead.jpeg" class="zoom-img" style = " border-radius: 40px; 
            margin: 20px auto; 
            max-width: 100%;
            background-size: cover; 
            background-position: center;
            cursor: pointer;">
            <div class = "Text">The Walking Dead</div>
          </div>
          </div>
          
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"> 
            <div class="text-center animate__animated">
            <img src="../Images/The_Sims_4.jpg" class="zoom-img" style = " border-radius: 40px; 
            margin: 20px auto; 
            max-width: 100%;
            background-size: cover; 
            background-position: center;
            cursor: pointer;">
            <div class = "Text">The Sims 4</div>
          </div>
          </div>
      </div>
    </div>
  </section>
  
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
      </script>

      <script>
        function redirectToCallPhone() {
            
            window.location.href = 'tel:+79613242024';
        }
       
        function redirectToNews() {
            
            window.location.href = '../HTML/News.html';
        }

        function redirectToTheLastOfUs() {
            
            window.location.href = '../HTML/The Last Of Us.html';
        }

        function redirectToFirstPage() {
            
            window.location.href = '../HTML/First_Page.html';
        }

        function redirectToSecondPage() {
            
            window.location.href = '../HTML/Second_Page.html';
        }

        function redirectToGames() {
            
            window.location.href = '../HTML/Games.html';
        }

        function redirectToGameEngines() {
            
            window.location.href = '../HTML/Game_Engines.html';
        }
        
        function redirectToPageTelegram() {
            
            window.location.href = 'https://t.me/Elenya888';
        }
        function redirectToPageWhatsapp() {
            
            window.location.href = 'https://wa.me/message/IOSSHK223LW2D1';
        }
        function redirectToVK() {
            
            window.location.href = 'https://vk.com/club225199071';
        }
      </script>

      <footer> 
        <div class = "container">
          <span class="inline-text" onclick="redirectToFirstPage()">1</span>
          <span class="inline-text" onclick="redirectToSecondPage()">2</span>
          <span class="inline-text" onclick="redirectToGameEngines()">3</span>
          <span class="inline-text" onclick="redirectToGameEngines()">4</span>
          <span class="inline-text" onclick="redirectToGameEngines()">5</span>
          <span class="inline-text" onclick="redirectToGameEngines()">6</span>
          <span class="inline-text" onclick="redirectToGameEngines()">7</span>
          <span class="inline-text" onclick="redirectToGameEngines()">8</span>
          <span class="inline-text" onclick="redirectToGameEngines()">...</span>
      </div>
      </footer>

  </body>
</html>