<!DOCTYPE html>
<html>
<head>
  <title>{{name}}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Новости игровой индустрии, игры"/>
  <link rel="stylesheet" type="text/css" href="/static/css/Design_For_Game.css">
  <script src="/static/javascript/List_Of_Commands.js" defer></script>
  <script src="/static/javascript/Get_API_From_Metacritic.js" defer></script>
  <script src="/static/javascript/Log_And_Logout.js" defer></script>
  <script src="/static/javascript/Game.js" defer></script>
  <link type="image/x-icon" href="/static/icons/Logo.ico" rel="shortcut icon">
  <link type="Image/x-icon" href="/static/icons/Logo.ico" rel="icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="{% if is_authenticated %}authenticated{% else %}guest{% endif %}">

    <section class="Background"></section> 

<header>
      <section class="Line">
        <nav aria-label="Menu">
          <ul>
            <li class="inline-text"><a class="c-btn c-btn--big-line" href="/news_first_page" data-hover-name="Новости">Новости</a></li>

            <li class="inline-text"><a class="c-btn c-btn--big-line" href="/first_page" data-hover-name="Игры">Игры</a></li>

            <li class="inline-text"><a class="c-btn c-btn--big-line" href="/game_engines" data-hover-name="Игровые движки">Игровые движки</a></li>
          </ul>
        </nav>

        {% if not is_authenticated %}
            <div class="auth-links">
              <a href="/login" class="c-btn c-btn--big-line auth-link" data-hover-name="Вход">Вход</a> /
              <a href="/reg" class="c-btn c-btn--big-line auth-link" data-hover-name="Регистрация">Регистрация</a>
            </div>
        {% else %}
            <div class="auth-links-1">
              <a href="/profile"><img src="/static/icons/Test Account.png" alt="Логотип" class="logo"></a>
              <a href="/logout" id="logoutBtn" class="c-btn c-btn--big-line auth-link-1" data-hover-name="Выйти">Выйти</a>
            </div>
        {% endif %}

    <div class="logo-container">
        <a href="/news_first_page"><img src="/static/icons/Logo.jpg" alt="Логотип" class="logo"></a>
        <span class="logo-text">Code&Play</span>
    </div>
        
      </section>
</header>

  <section class="Games">
  <section class="Wall">
    <div class="container">
      <div class="content">
        <div class="image-container"><img src="{{image_url}}" class="zoom-img"></div>
        <section class="game-info">
          <h2>{{name}}</h2>
          <p>Дата выхода: {{date}}</p>
          <p>Разработчик: {{developer}}</p>
          <p>Издатели: {{publishers}}</p>
          <p>Платформы: {{platforms}}</p>

          <div class="tags">
            <span class="tag">{{tag1}}</span>
            <span class="tag">{{tag2}}</span>
            <span class="tag">{{tag3}}</span>
          </div>
        </section>
      </div>
    </div>
  </section>

    <section class="Description_Of_The_Game">
      <div class="container grid-container">
        <div class="grid-item">
          <div class="Text"><p>{{description}}</p></div>
        </div>
      </div>
    </section>

    <section class="MultiPart">

      {% if is_authenticated %}
      <section class="Score-1">
        <div class="container grid-container">
            <div class="grid-item text-center">
                <img id="star-icon" 
                     src="/static/icons/{% if is_clicked %}Full_Star_1.jpg{% else %}Star_1.jpg{% endif %}" 
                     alt="Meta Icon" 
                     class="meta-icon" 
                     style="cursor: pointer;"
                     data-game-id="{{game_id}}">
                <div class="Text_1">{% if is_clicked %}Сохранено{% else %}Сохранить в профиль{% endif %}</div>
            </div>
        </div>
    </section>
      {% endif %}
      
    <section class="Score">
      <div class="container grid-container">
        <div class="grid-item text-center">
          <img src="/static/icons/Meta_1.png" alt="Meta Icon" class="meta-icon">
          <div class="Text_1" data-game-name="{{name}}">Оценка метакритики: <span id="score-placeholder">Загрузка...</span></div>
        </div>
      </div>
    </section>
    
    <section class="Buy_Game">
      <div class="container grid-container">
        <div class="grid-item text-center">
          <img src="{{logo}}" alt="Steam" class="meta-steam">
          <div class="Text_3" data-url="{{sources_to_game}}" onclick="redirectToGame(this)">
            <button class="btn-hover color-3">Купить игру</button>
      </div>
        </div>
      </div>
    </section>
    </section>
  
    <section class="Create_Comment">

      {% if is_authenticated %}
      <div class="center-wrapper">
        <div id="add-comment-btn" class="Text_2">Оставить комментарий</div>
      </div>
      {% endif %}
    
      <div class="container grid-container">
        <div class="grid-item text-center">
          
          <div id="comment-field" style="display: none; margin-top: 10px;">
            <textarea id="comment-text" placeholder="Введите ваш комментарий..."
              style="width: 100%; height: 100px; padding: 10px; font-size: 16px;"></textarea>
            <button id="submit-comment-btn" action="/stay_comment" style="margin-top: 10px;">Отправить</button>
          </div>
    
          <div id="comments-list" style="margin-top: 20px; text-align: left; font-family: 'Bebas Neue Bold';">
            <h3>Комментарии:</h3>
            {% for comment in comments %}
            <div class="comment" data-comment-id="{{ comment.comment_id }}">
              <p>Автор: {{comment.name}}</p>
              <p class="comment-text">{{comment.comment}}</p>
              <hr>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  </section>
  

<footer> 
  <div class="Information_Follow">Следите за нами</div>

  <nav aria-label="Icons">
    <ul>
      <li class="inline-image"><a href="https://t.me/Fetyper"><img src="/static/icons/Telegram.png" alt="Telegram"></a></li>
      <li class="inline-image"><a href="https://vk.com/coolstudent1"><img src="/static/icons/VK.png" alt="VK"></a></li>
      <li class="inline-image"><a href="https://github.com/Sonic11-stack?tab=overview&from=2024-12-01&to=2024-12-08"><img src="/static/icons/GitHub.png" alt="GitHub"></a></li>
    </ul>
  </nav>

  <div class="Information_Contact">Почта для связи: matvejnazarov4@gmail.com</div>
  <div class="Information_Year">© 2025. Все права защищены</div>
</footer>

  </body>
</html>
