<!DOCTYPE html>
<html>
<head>
  <title>Mass Effect 2</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Новости игровой индустрии, игры"/>
  <link rel = "stylesheet" type = "text/css" href = "/static/css/Design_For_Game.css">
  <link rel = "stylesheet" type = "text/css" href = "/static/css/bebas_neue_bold.css">
  <script src="/static/javascript/List_Of_Commands.js" defer></script>
  <script src="/static/javascript/Get_API_From_Metacritic.js" defer></script>
  <link type="image/x-icon" href="../Logo/Group 2.ico" rel="shortcut icon">
  <link type="Image/x-icon" href="../Logo/Group 2.ico" rel="icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <section class="Background">
    </section> 

    <header>
      <section class="Line">
        <nav aria-label="Menu">
          <ul>
            <li class="inline-text">
                <a class="c-btn c-btn--big-line" href="/news_first_page" data-hover-name="Новости" style="font-family: 'Bebas Neue Bold';">
                  Новости</a>
            </li>

            <li class="inline-text">
              <a class="c-btn c-btn--big-line" href="/first_page" data-hover-name="Игры" style="font-family: 'Bebas Neue Bold';">
                Игры</a>
          </li>

             <li class="inline-text">
                <a class="c-btn c-btn--big-line" href="/game_engine" data-hover-name="Игровые движки" style="font-family: 'Bebas Neue Bold';">
                  Игровые движки</a>
            </li>
          </ul>
        </nav>

        <div class="auth-links">
          <a href="/login" style="font-family: 'Bebas Neue Bold';" class="c-btn c-btn--big-line auth-link" data-hover-name="Вход">Вход</a> /
          <a href="/reg" style="font-family: 'Bebas Neue Bold';" class="c-btn c-btn--big-line auth-link" data-hover-name="Регистрация">Регистрация</a>
        </div>
        <div class="logo-container">
          <a href="/news_first_page"><img src="/static/icons/Meta.png" alt="Логотип" class="logo"></a>
          <span class="logo-text" style="font-family: 'Bebas Neue Bold';">Code&Play</span>
        </div>
      </section>
    </header>
    

  <section class="Games">
  <section class="Wall">
    <div class="container">
      <div class="content">
        
        <div class="image-container">
          <img src="/static/images/Mass_Effect_2.jpeg" class="zoom-img">
        </div>
    
       
        <section class="game-info">
          <h2>Mass Effect 2</h2>
          <p>Дата выхода: 26 января 2010 года</p>
          <p>Разработчик: BioWare</p>
          <p>Издатели: Microsoft Studios, Electronic Arts</p>
          <p>Платформы: PC, Playstation, Xbox</p>
    
          <div class="tags">
            <span class="tag">Приключение</span>
            <span class="tag">Шутер</span>
            <span class="tag">Одиночная игра</span>
          </div>
        </section>
      </div>
    </div>
  </section>

    <section class="Description_Of_The_Game">
      <div class="container grid-container">
        <div class="grid-item">
          <div class="Text">
            <p>Mass Effect 2 — это продолжение культовой RPG от BioWare, выпущенное в 2010 году. Сюжет развивается после событий первой части: командир Шепард воскрешается секретной организацией «Цербер», чтобы возглавить команду в смертельно опасной миссии против таинственной инопланетной расы Коллекционеров, угрожающих человечеству.

                Игра сочетает напряженные сражения, глубокие диалоги и возможность создавать команду из уникальных персонажей, каждый со своей историей и мотивацией. Принятые игроком решения значительно влияют на исход сюжета и судьбы героев. Mass Effect 2 получила признание за улучшенный геймплей, эмоциональную глубину и кинематографический стиль.
                </p>
          </div>
        </div>
      </div>
    </section>

    <section class="Score">
      <div class="container grid-container">
        <div class="grid-item text-center">
          <img src="/static/icons/Meta.png" alt="Meta Icon" class="meta-icon">
          <div class="Text_1">
            Оценка метакритики: <span id="score-placeholder">Загрузка...</span>
          </div>
        </div>
      </div>
    </section>
    
    <section class="Buy_Game">
      <div class="container grid-container">
        <div class="grid-item text-center">
          <img src="/static/icons/Steam.png" alt="Steam" class="meta-steam">
          <div class="Text_3" onclick="redirectToMassEffect2()">
            <button class="btn-hover color-3">Купить игру</button>
          </div>
        </div>
      </div>
    </section>
  
  <section class="Create_Comment">
    <div class="container grid-container">
      <div class="grid-item text-center">
        <div class="Text_2" id="add-comment-btn" style="cursor: pointer; font-family: 'Bebas Neue Bold';">
          Оставить комментарий
        </div>

        <div id="comment-field" style="display: none; margin-top: 10px;">
          <textarea id="comment-text" placeholder="Введите ваш комментарий..." 
                    style="width: 90%; height: 100px; padding: 10px; font-size: 16px;"></textarea>
          <button id="submit-comment-btn" style="margin-top: 10px;">Отправить</button>
        </div>
        <div id="comments-list" style="float: left; margin-left: 5px; margin-top: 20px; text-align: left; font-family: 'Bebas Neue Bold';">
          <h3>Комментарии:</h3>
        </div>
      </div>
    </div>
  </section>
  </section>
  

<footer> 
  <div class = "Information_Follow" style="font-family: 'Bebas Neue Bold';">
    Следите за нами
  </div>

  <nav aria-label="Icons">
    <ul>
      <li class="inline-image"> <a href="https://t.me/Fetyper"> <img src="/static/icons/Telegram.png" alt="Telegram"></a></li>
      <li class="inline-image"> <a href="https://vk.com/coolstudent1"> <img src="/static/icons/VK.png" alt="VK"></a></li>
      <li class="inline-image"> <a href="https://github.com/Sonic11-stack?tab=overview&from=2024-12-01&to=2024-12-08"> <img src="/static/icons/GitHub.png" alt="GitHub"></a></li>
    </ul>
  </nav>

  <div class = "Information_Contact" style="font-family: 'Bebas Neue Bold';">
    Почта для связи: matvejnazarov4@gmail.com
  </div>
  <div class = "Information_Year" style="font-family: 'Bebas Neue Bold';">
    © 2025. Все права защищены
  </div>
</footer>

  </body>
</html>