<!DOCTYPE html>
<html>
<head>
  <title>Новости</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Новости игровой индустрии, игры"/>
  <link rel = "stylesheet" type = "text/css" href = "../CSS/News.css">
  <script src="../JavaScript/List_Of_Commands.js" defer></script>
  <link type="image/x-icon" href="../Logo/Group 2.ico" rel="shortcut icon">
  <link type="Image/x-icon" href="../Logo/Group 2.ico" rel="icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

  <section class="Background">
  </section>

  <header>
    <section class = "Line">
    <nav aria-label="Menu">
      <ul>
        <li class="inline-text"><a href="../HTML/News_First_Page.html">Новости</a></li>
        <li class="inline-text"><a href="../HTML/First_Page.html">Игры</a></li>
        <li class="inline-text"><a href="../HTML/Game_Engines.html">Игровые движки</a></li>
      </ul>
    </nav>
    <div class="auth-links">
      <a href="#login" class="auth-link">Вход</a> /
      <a href="#register" class="auth-link">Регистрация</a>
    </div>
    </section>
  </header>

  <section class="Games">
    <div class="container">
      <div class="grid-container">
          <div class="game-card"> 
            <img src="../Images/Borderlands_3.jpg" class="zoom-img" alt="Borderlands 3">
          </div>
            <div class="game-card-text"> 
              <div class="Text">
                Фанатское сообщество Fallout 4 порадовало ещё одной новинкой. На этот раз моддер с ником OscarN1N7 выпустил демоверсию масштабного DLC с новым сюжетом, локациями, героями, квестами, компаньоном и даже связью с основной историей игры.
              </div>
            </div>
      </div>

      <div class="grid-container">
        <div class="game-card"> 
          <img src="../Images/Zombies.jpg" class="zoom-img" alt="Plants vs Zombies">
        </div>
        <div class="game-card-text"> 
          <div class="Text">
            Фанатское сообщество Fallout 4 порадовало ещё одной новинкой. На этот раз моддер с ником OscarN1N7 выпустил демоверсию масштабного DLC с новым сюжетом, локациями, героями, квестами, компаньоном и даже связью с основной историей игры.
          </div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-card"> 
          <img src="../Images/Ori.png" class="zoom-img" alt="Ori and the Will of the Wisps">
        </div>
        <div class="game-card-text"> 
          <div class="Text">
            Фанатское сообщество Fallout 4 порадовало ещё одной новинкой. На этот раз моддер с ником OscarN1N7 выпустил демоверсию масштабного DLC с новым сюжетом, локациями, героями, квестами, компаньоном и даже связью с основной историей игры.
          </div>
        </div>
        </div>

      <div class="grid-container">
        <div class="game-card"> <img src="../Images/Quake.jpg" class="zoom-img" alt="Quake"> </div>
        <div class="game-card-text"> 
          <div class="Text">
            Фанатское сообщество Fallout 4 порадовало ещё одной новинкой. На этот раз моддер с ником OscarN1N7 выпустил демоверсию масштабного DLC с новым сюжетом, локациями, героями, квестами, компаньоном и даже связью с основной историей игры.
          </div>
        </div>
        </div>

      <div class="grid-container">
        <div class="game-card"> <img src="../Images/Quake_4.jpg" class="zoom-img" alt="Quake 4"> </div>
        <div class="game-card-text"> 
          <div class="Text">
            Фанатское сообщество Fallout 4 порадовало ещё одной новинкой. На этот раз моддер с ником OscarN1N7 выпустил демоверсию масштабного DLC с новым сюжетом, локациями, героями, квестами, компаньоном и даже связью с основной историей игры.
          </div>
        </div>
        </div>

      <div class="grid-container">
        <div class="game-card"> <img src="../Images/Payday.png" class="zoom-img" alt="Payday"> </div>
        <div class="game-card-text"> 
          <div class="Text">
            Фанатское сообщество Fallout 4 порадовало ещё одной новинкой. На этот раз моддер с ником OscarN1N7 выпустил демоверсию масштабного DLC с новым сюжетом, локациями, героями, квестами, компаньоном и даже связью с основной историей игры.
          </div>
        </div>
        </div>

      <div class="grid-container">
        <div class="game-card"> <img src="../Images/Worms.png" class="zoom-img" alt="Worms Reloaded"> </div>
        <div class="game-card-text"> 
          <div class="Text">
            Фанатское сообщество Fallout 4 порадовало ещё одной новинкой. На этот раз моддер с ником OscarN1N7 выпустил демоверсию масштабного DLC с новым сюжетом, локациями, героями, квестами, компаньоном и даже связью с основной историей игры.
          </div>
        </div>
        </div>

      <div class="grid-container">
        <div class="game-card"> <img src="../Images/No_Man's_Sky.png" class="zoom-img" alt="No Man’s Sky"> </div>
        <div class="game-card-text"> 
          <div class="Text">
            Фанатское сообщество Fallout 4 порадовало ещё одной новинкой. На этот раз моддер с ником OscarN1N7 выпустил демоверсию масштабного DLC с новым сюжетом, локациями, героями, квестами, компаньоном и даже связью с основной историей игры.
          </div>
        </div>
        </div>
       
      <div class="grid-container">
        <div class="game-card"> <img src="../Images/Mafia_2.jpeg" class="zoom-img" alt="Mafia 2"> </div>
        <div class="game-card-text"> 
          <div class="Text">
            Фанатское сообщество Fallout 4 порадовало ещё одной новинкой. На этот раз моддер с ником OscarN1N7 выпустил демоверсию масштабного DLC с новым сюжетом, локациями, героями, квестами, компаньоном и даже связью с основной историей игры.
          </div>
        </div>
        </div>

      <div class="grid-container">
        <div class="game-card"> <img src="../Images/Plague_Tale_1.jpg" class="zoom-img" alt="A Plague Tale : Innocence"> </div>
        <div class="game-card-text"> 
          <div class="Text">
            Фанатское сообщество Fallout 4 порадовало ещё одной новинкой. На этот раз моддер с ником OscarN1N7 выпустил демоверсию масштабного DLC с новым сюжетом, локациями, героями, квестами, компаньоном и даже связью с основной историей игры.
          </div>
        </div>
      </div>
    </div>
  </section>
  
      <footer> 
      <nav aria-label="Pages">
        <ul>
          <li class="inline-text"><a href="../HTML/News_First_Page.html">1</a></li>
          <li class="inline-text"><a href="../HTML/News_Second_Page.html">2</a></li>
          <li class="inline-text"><a href="../HTML/News_Third_Page.html">3</a></li>
          <li class="inline-text"><a href="../HTML/News_Fourth_Page.html">4</a></li>
          <li class="inline-text"><a href="../HTML/News_Fifth_Page.html">5</a></li>
          <li class="inline-text"><a href="../HTML/News_Sixth_Page.html">6</a></li>
        </ul>
      </nav>

      <div class = "Information_Follow">
        Следите за нами
      </div>

      <nav aria-label="Icons">
        <ul>
          <li class="inline-image"> <a href="https://t.me/Fetyper"> <img src="../Icons/Telegram.png" alt="Telegram"></a></li>
          <li class="inline-image"> <a href="https://vk.com/coolstudent1"> <img src="../Icons/VK.png" alt="VK"></a></li>
          <li class="inline-image"> <a href="https://github.com/Sonic11-stack?tab=overview&from=2024-12-01&to=2024-12-08"> <img src="../Icons/GitHub.png" alt="GitHub"></a></li>
        </ul>
      </nav>

      <div class = "Information_Contact">
        Почта для связи: matvejnazarov4@gmail.com
      </div>
      <div class = "Information_Year">
        © 2024. Все права защищены
      </div>
      </footer>
  </body>
</html>