<!DOCTYPE html>
<html>
<head>
  <title>Новости 5</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Новости игровой индустрии, игры"/>
  <link rel="stylesheet" type="text/css" href="/static/css/News.css">
  <script src="/static/javascript/List_Of_Commands.js" defer></script>
  <script src="/static/javascript/Log_And_Logout.js" defer></script>
  <script src="/static/javascript/Pages.js" defer></script>
  <link type="image/x-icon" href="/static/icons/Logo.ico" rel="shortcut icon">
  <link type="Image/x-icon" href="/static/icons/Logo.ico" rel="icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

  <section class="Background"></section>

  <header>
    <section class="Line">
      <nav aria-label="Menu">
        <ul>
          <li class="inline-text"><a class="c-btn c-btn--big-line" href="/news_first_page" data-hover-name="Новости">Новости</a></li>

          <li class="inline-text"><a class="c-btn c-btn--big-line" href="/first_page" data-hover-name="Игры">Игры</a></li>

           <li class="inline-text"><a class="c-btn c-btn--big-line" href="/game_engines" data-hover-name="Игровые движки">Игровые движки</a></li>
        </ul>
      </nav>

      {% if not is_authenticated %}
          <div class="auth-links">
            <a href="/login" class="c-btn c-btn--big-line auth-link" data-hover-name="Вход">Вход</a> /
            <a href="/reg" class="c-btn c-btn--big-line auth-link" data-hover-name="Регистрация">Регистрация</a>
          </div>
      {% else %}
          <div class="auth-links-1">
            <a href="/profile"><img src="/static/icons/Test Account.png" alt="Профиль" class="logo"></a>
            <a href="/logout" id="logoutBtn" class="c-btn c-btn--big-line auth-link-1" data-hover-name="Выйти">Выйти</a>
          </div>
      {% endif %}

  <div class="logo-container">
      <a href="/news_first_page"><img src="/static/icons/Logo.jpg" alt="Логотип" class="logo"></a>
      <span class="logo-text">Code&Play</span>
  </div>
      
    </section>
  </header>

  <section class="Games">
    <div class="container">
    {% if news_list %}
      {% for news in news_list %}
      <div class="grid-container">
        <div class="game-card">
            <a href="/news/{{news.id}}"><img src="/static/news/News_{{news.id}}.jpg" class="zoom-img" data-new-id="{{news.id}}" alt="Image of news"></a>
        </div>
        <div class="game-card-text"><div class="Text" data-url="/get_text_news/{{news.id}}">Загрузка</div></div>
      </div>
      {% endfor %}

      {% else %}
        <div class="no-news-message"><p class="Text_News">Новостей пока нет</p></div>
      {% endif %}
    </div>
  </section>
  
  <div class="wrapper">
    <footer class="footer"> 
        <nav aria-label="Pages">
            <ul>
                <li class="inline-text"><a class="c-btn c-btn--big-line" href="/news_first_page" data-hover-name="1">1</a></li>
                <li class="inline-text"><a class="c-btn c-btn--big-line" href="/news_second_page" data-hover-name="2">2</a></li>
                <li class="inline-text"><a class="c-btn c-btn--big-line" href="/news_third_page" data-hover-name="3">3</a></li>
                <li class="inline-text"><a class="c-btn c-btn--big-line" href="/news_fourth_page" data-hover-name="4">4</a></li>
                <li class="inline-text"><a class="c-btn c-btn--big-line" href="/news_fifth_page" data-hover-name="5">5</a></li>
                <li class="inline-text"><a class="c-btn c-btn--big-line" href="/news_sixth_page" data-hover-name="6">6</a></li>
            </ul>
        </nav>

        <div class="Information_Follow">Следите за нами</div>

        <nav aria-label="Icons">
            <ul>
                <li class="inline-image"><a href="https://t.me/Fetyper"><img src="/static/icons/Telegram.png" alt="Telegram"></a></li>
                <li class="inline-image"><a href="https://vk.com/coolstudent1"><img src="/static/icons/VK.png" alt="VK"></a></li>
                <li class="inline-image"><a href="https://github.com/Sonic11-stack?tab=overview&from=2024-12-01&to=2024-12-08"><img src="/static/icons/GitHub.png" alt="GitHub"></a></li>
            </ul>
        </nav>
        <div class="Information_Contact">Почта для связи: matvejnazarov4@gmail.com</div>
        <div class="Information_Year">© 2025. Все права защищены</div>
    </footer>
</div>
  </body>
</html>