<!DOCTYPE html>
<html>
<head>
  <title>Новости</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Новости игровой индустрии, игры"/>
  <link rel = "stylesheet" type = "text/css" href = "/static/css/News.css">
  <link rel = "stylesheet" type = "text/css" href = "/static/css/bebas_neue_bold.css">
  <script src="/static/javascript/List_Of_Commands.js" defer></script>
  <script src="/static/javascript/Log_And_Logout.js" defer></script>
  <link type="image/x-icon" href="../Logo/Group 2.ico" rel="shortcut icon">
  <link type="Image/x-icon" href="../Logo/Group 2.ico" rel="icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

  <section class="Background">
  </section>

  <header>
    <section class="Line">
      <nav aria-label="Menu">
        <ul>
          <li class="inline-text">
              <a class="c-btn c-btn--big-line" href="/news_first_page" data-hover-name="Новости" style="font-family: 'Bebas Neue Bold';">
                Новости</a>
          </li>

          <li class="inline-text">
            <a class="c-btn c-btn--big-line" href="/first_page" data-hover-name="Игры" style="font-family: 'Bebas Neue Bold';">
              Игры</a>
        </li>

           <li class="inline-text">
              <a class="c-btn c-btn--big-line" href="/game_engine" data-hover-name="Игровые движки" style="font-family: 'Bebas Neue Bold';">
                Игровые движки</a>
          </li>
        </ul>
      </nav>

      {% if not is_authenticated %}
          <div class="auth-links">
            <a href="/login" style="font-family: 'Bebas Neue Bold';" class="c-btn c-btn--big-line auth-link" data-hover-name="Вход">Вход</a> /
            <a href="/reg" style="font-family: 'Bebas Neue Bold';" class="c-btn c-btn--big-line auth-link" data-hover-name="Регистрация">Регистрация</a>
          </div>
      {% else %}
          <div class="auth-links-1">
            <a href="/profile"><img src="/static/icons/Test Account.png" alt="Логотип" class="logo"></a>
            <a href="/logout" id="logoutBtn" style="font-family: 'Bebas Neue Bold';" class="c-btn c-btn--big-line auth-link-1" data-hover-name="Выйти">Выйти</a>
          </div>
      {% endif %}

  <div class="logo-container">
      <a href="/news_first_page"><img src="/static/icons/Meta.png" alt="Логотип" class="logo"></a>
      <span class="logo-text" style="font-family: 'Bebas Neue Bold';">Code&Play</span>
  </div>
      
    </section>
  </header>

  <section class="Games">
    <div class="container">
      <div class="grid-container">
          <div class="game-card"> 
            <img src="/static/images/Borderlands_3.jpg" class="zoom-img" alt="Borderlands 3">
          </div>
            <div class="game-card-text"> 
              <div class="Text">
                Фанатское сообщество Fallout 4 порадовало ещё одной новинкой. На этот раз моддер с ником OscarN1N7 выпустил демоверсию масштабного DLC с новым сюжетом, локациями, героями, квестами, компаньоном и даже связью с основной историей игры.
              </div>
            </div>
      </div>

      <div class="grid-container">
        <div class="game-card"> 
          <img src="/static/images/Zombies.jpg" class="zoom-img" alt="Plants vs Zombies">
        </div>
        <div class="game-card-text"> 
          <div class="Text">
            Фанатское сообщество Fallout 4 порадовало ещё одной новинкой. На этот раз моддер с ником OscarN1N7 выпустил демоверсию масштабного DLC с новым сюжетом, локациями, героями, квестами, компаньоном и даже связью с основной историей игры.
          </div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-card"> 
          <img src="/static/images/Ori.png" class="zoom-img" alt="Ori and the Will of the Wisps">
        </div>
        <div class="game-card-text"> 
          <div class="Text">
            Фанатское сообщество Fallout 4 порадовало ещё одной новинкой. На этот раз моддер с ником OscarN1N7 выпустил демоверсию масштабного DLC с новым сюжетом, локациями, героями, квестами, компаньоном и даже связью с основной историей игры.
          </div>
        </div>
        </div>

      <div class="grid-container">
        <div class="game-card"> <img src="/static/images/Quake.jpg" class="zoom-img" alt="Quake"> </div>
        <div class="game-card-text"> 
          <div class="Text">
            Фанатское сообщество Fallout 4 порадовало ещё одной новинкой. На этот раз моддер с ником OscarN1N7 выпустил демоверсию масштабного DLC с новым сюжетом, локациями, героями, квестами, компаньоном и даже связью с основной историей игры.
          </div>
        </div>
        </div>

      <div class="grid-container">
        <div class="game-card"> <img src="/static/images/Quake_4.jpg" class="zoom-img" alt="Quake 4"> </div>
        <div class="game-card-text"> 
          <div class="Text">
            Фанатское сообщество Fallout 4 порадовало ещё одной новинкой. На этот раз моддер с ником OscarN1N7 выпустил демоверсию масштабного DLC с новым сюжетом, локациями, героями, квестами, компаньоном и даже связью с основной историей игры.
          </div>
        </div>
        </div>

      <div class="grid-container">
        <div class="game-card"> <img src="/static/images/Payday.png" class="zoom-img" alt="Payday"> </div>
        <div class="game-card-text"> 
          <div class="Text">
            Фанатское сообщество Fallout 4 порадовало ещё одной новинкой. На этот раз моддер с ником OscarN1N7 выпустил демоверсию масштабного DLC с новым сюжетом, локациями, героями, квестами, компаньоном и даже связью с основной историей игры.
          </div>
        </div>
        </div>

      <div class="grid-container">
        <div class="game-card"> <img src="/static/images/Worms.png" class="zoom-img" alt="Worms Reloaded"> </div>
        <div class="game-card-text"> 
          <div class="Text">
            Фанатское сообщество Fallout 4 порадовало ещё одной новинкой. На этот раз моддер с ником OscarN1N7 выпустил демоверсию масштабного DLC с новым сюжетом, локациями, героями, квестами, компаньоном и даже связью с основной историей игры.
          </div>
        </div>
        </div>

      <div class="grid-container">
        <div class="game-card"> <img src="/static/images/No_Man's_Sky.png" class="zoom-img" alt="No Man’s Sky"> </div>
        <div class="game-card-text"> 
          <div class="Text">
            Фанатское сообщество Fallout 4 порадовало ещё одной новинкой. На этот раз моддер с ником OscarN1N7 выпустил демоверсию масштабного DLC с новым сюжетом, локациями, героями, квестами, компаньоном и даже связью с основной историей игры.
          </div>
        </div>
        </div>
       
      <div class="grid-container">
        <div class="game-card"> <img src="/static/images/Mafia_2.jpeg" class="zoom-img" alt="Mafia 2"> </div>
        <div class="game-card-text"> 
          <div class="Text">
            Фанатское сообщество Fallout 4 порадовало ещё одной новинкой. На этот раз моддер с ником OscarN1N7 выпустил демоверсию масштабного DLC с новым сюжетом, локациями, героями, квестами, компаньоном и даже связью с основной историей игры.
          </div>
        </div>
        </div>

      <div class="grid-container">
        <div class="game-card"> <img src="/static/images/Plague_Tale_1.jpg" class="zoom-img" alt="A Plague Tale : Innocence"> </div>
        <div class="game-card-text"> 
          <div class="Text">
            Фанатское сообщество Fallout 4 порадовало ещё одной новинкой. На этот раз моддер с ником OscarN1N7 выпустил демоверсию масштабного DLC с новым сюжетом, локациями, героями, квестами, компаньоном и даже связью с основной историей игры.
          </div>
        </div>
      </div>
    </div>
  </section>
  
      <footer> 
      <nav aria-label="Pages">
        <ul>
          <li class="inline-text">
              <a class="c-btn c-btn--big-line" href="/news_first_page" data-hover-name="1">1</a>
          </li>

          <li class="inline-text">
            <a class="c-btn c-btn--big-line" href="/news_second_page" data-hover-name="2">2</a>
          </li>

          <li class="inline-text">
              <a class="c-btn c-btn--big-line" href="/news_third_page" data-hover-name="3">3</a>
          </li>

          <li class="inline-text">
            <a class="c-btn c-btn--big-line" href="/news_fourth_page" data-hover-name="4">4</a>
          </li>

          <li class="inline-text">
            <a class="c-btn c-btn--big-line" href="/news_fifth_page" data-hover-name="5">5</a>
          </li>

          <li class="inline-text">
            <a class="c-btn c-btn--big-line" href="/news_sixth_page" data-hover-name="6">6</a>
          </li>
        </ul>
      </nav>

      <div class = "Information_Follow">
        Следите за нами
      </div>

      <nav aria-label="Icons">
        <ul>
          <li class="inline-image"> <a href="https://t.me/Fetyper"> <img src="/static/icons/Telegram.png" alt="Telegram"></a></li>
          <li class="inline-image"> <a href="https://vk.com/coolstudent1"> <img src="/static/icons/VK.png" alt="VK"></a></li>
          <li class="inline-image"> <a href="https://github.com/Sonic11-stack?tab=overview&from=2024-12-01&to=2024-12-08"> <img src="/static/icons/GitHub.png" alt="GitHub"></a></li>
        </ul>
      </nav>

      <div class = "Information_Contact">
        Почта для связи: matvejnazarov4@gmail.com
      </div>
      <div class = "Information_Year">
        © 2025. Все права защищены
      </div>
      </footer>
  </body>
</html>