<!DOCTYPE html>
<html>
<head>
  <title>Профиль</title> 
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Новости игровой индустрии, игры"/>
  <link rel="stylesheet" type="text/css" href="/static/css/Profile.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bebas_neue_bold.css">
  <script src="/static/javascript/List_Of_Commands.js" defer></script>
  <script src="/static/javascript/Log_And_Logout.js" defer></script>
  <script src="/static/javascript/Profile.js" defer></script>
  <link type="image/x-icon" href="/static/icons/Logo.ico" rel="shortcut icon">
  <link type="Image/x-icon" href="/static/icons/Logo.ico" rel="icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <section class="Background"></section> 

    <header>
      <section class="Line">
        <nav aria-label="Menu">
          <ul>
            <li class="inline-text"><a class="c-btn c-btn--big-line" href="/news_first_page" data-hover-name="Новости" style="font-family: 'Bebas Neue Bold';">Новости</a></li>

            <li class="inline-text"><a class="c-btn c-btn--big-line" href="/first_page" data-hover-name="Игры" style="font-family: 'Bebas Neue Bold';">Игры</a></li>

            <li class="inline-text"><a class="c-btn c-btn--big-line" href="/game_engines" data-hover-name="Игровые движки" style="font-family: 'Bebas Neue Bold';">Игровые движки</a></li>
          </ul>
        </nav>
        
        {% if not is_authenticated %}
            <div class="auth-links">
              <a href="/login" style="font-family: 'Bebas Neue Bold';" class="c-btn c-btn--big-line auth-link" data-hover-name="Вход">Вход</a> /
              <a href="/reg" style="font-family: 'Bebas Neue Bold';" class="c-btn c-btn--big-line auth-link" data-hover-name="Регистрация">Регистрация</a>
            </div>
        {% else %}
            <div class="auth-links-1">
              <a href="/profile"><img src="/static/icons/Test Account.png" alt="Логотип" class="logo"></a>
              <a href="/logout" id="logoutBtn" style="font-family: 'Bebas Neue Bold';" class="c-btn c-btn--big-line auth-link-1" data-hover-name="Выйти">Выйти</a>
            </div>
        {% endif %}

    <div class="logo-container">
        <a href="/news_first_page"><img src="/static/icons/Logo.jpg" alt="Логотип" class="logo"></a>
        <span class="logo-text" style="font-family: 'Bebas Neue Bold';">Code&Play</span>
    </div>
        
      </section>
    </header>
    

    <section class="profile-container">
      <div class="profile-header" style="font-family: 'Bebas Neue Bold';">
          <div class="profile-info" style="font-family: 'Bebas Neue Bold';"> 
              {% if not user %}
              <h1 class="username">Имя пользователя</h1>
              <p class="email">email@example.com</p>
              <p class="join-date">Дата регистрации: 01.01.2024</p>
              {% else %}
              <h1 class="username">Имя пользователя: {{user.name}}</h1>
              <p class="email">Почта: {{user.email}}</p>
              <p class="bio">О себе: {{bio}}</p>
              <p class="location">Локация: {{location}}</p>
              {% endif %}
          </div>
      </div>

      <div class="progile-con"><button type="submit" class="click-btn" style="font-family: 'Bebas Neue Bold';">Редактировать профиль</button></div>

      {% if is_author %}
      <div class="progile-con-1"><button type="submit" class="click-btn-1" style="font-family: 'Bebas Neue Bold';">Создать блок новостей</button></div>
      {% endif %}
      
      <div class="profile-content">
          <div class="profile-section" style="font-family: 'Bebas Neue Bold';">
              <h2>Личная информация</h2>
              <form class="profile-form" action="/save_profile" method="post" enctype="application/x-www-form-urlencoded">
                  <div class="form-group">
                      <label for="fullname">Полное имя:</label>
                      <input type="text" id="fullname" name="name">
                  </div>
                  <div class="form-group">
                      <label for="bio">О себе:</label>
                      <textarea id="bio" name="bio"></textarea>
                  </div>
                  <div class="form-group">
                      <label for="location">Местоположение:</label>
                      <input type="text" id="location" name="location">
                  </div>
                  <button type="submit" class="save-btn">Сохранить изменения</button>
              </form>
          </div> 
          </div>

          <div class="profile-content-1">
            <div class="profile-section" style="font-family: 'Bebas Neue Bold'; color: #e0e0e0;">
                <h2>Добавление новости</h2>
                <form class="profile-form" action="/create_news" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="text_news">Описание новости на переднем плане:</label>
                        <input type="text" id="text_news" name="text_news">
                    </div>
                    <div class="form-group">
                        <label for="name">Название новости:</label>
                        <textarea id="name" name="name"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="main_text">Описание новости внутри страницы:</label>
                        <input type="text" id="main_text" name="main_text">
                    </div>
                    <div class="form-group">
                        <label for="image">Загрузить изображение:</label>
                        <input type="file" id="image" name="image" accept="image/*">
                    </div>
                    <button type="submit" class="save-btn">Создать новость</button>
                </form>
            </div> 
        </div>

          <div class="profile-section" style="font-family: 'Bebas Neue Bold';">
            <h2>Избранные игры</h2>
            <div class="favorite-games">
                {% if save_games %}
                <div class="games-grid">
                    {% for i in range(save_games|length) %}
                    <div class="game-item"><a href="/game/{{save_games[i]}}"><img src="{{image_urls[i]}}" class="zoom-img"></a></div>
                    {% endfor %}
                </div>
                {% else %}
                    <p class="no-games">Список избранных игр пуст</p>
                {% endif %}
            </div>
        </div>

        <div class="profile-section" style="font-family: 'Bebas Neue Bold';">
          <h2>Избранные новости</h2>
          <div class="favorite-games">
              {% if save_news %}
              <div class="games-grid">
                  {% for i in range(save_news|length) %}
                  <div class="game-item"><a href="/news/{{save_news[i]}}"><img src="{{image_urls_news[i]}}" class="zoom-img"></a></div>
                  {% endfor %}
              </div>
              {% else %}
                  <p class="no-games">Список избранных новостей пуст</p>
              {% endif %}
          </div>
      </div>
  </section>

<footer> 
  <div class="Information_Follow" style="font-family: 'Bebas Neue Bold';">Следите за нами</div>

  <nav aria-label="Icons">
    <ul>
      <li class="inline-image"><a href="https://t.me/Fetyper"><img src="/static/icons/Telegram.png" alt="Telegram"></a></li>
      <li class="inline-image"><a href="https://vk.com/coolstudent1"><img src="/static/icons/VK.png" alt="VK"></a></li>
      <li class="inline-image"><a href="https://github.com/Sonic11-stack?tab=overview&from=2024-12-01&to=2024-12-08"><img src="/static/icons/GitHub.png" alt="GitHub"></a></li>
    </ul>
  </nav>

  <div class="Information_Contact" style="font-family: 'Bebas Neue Bold';">Почта для связи: matvejnazarov4@gmail.com</div>
  <div class="Information_Year" style="font-family: 'Bebas Neue Bold';">© 2025. Все права защищены</div>
</footer>
  </body>
</html>