<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Регистрация</title>
  <link rel="stylesheet" href="/static/css/Registration.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
</head>
<body>
  
  <section class="Background"></section> 

  <div class="form-container">
    <div class="form-header">
      <a href="/login"><button class="tab">ВХОД</button></a>
      <a href="/reg"><button class="tab active">РЕГИСТРАЦИЯ</button></a>
    </div>
    <form class="form" action="/click_button" method="post" enctype="application/x-www-form-urlencoded">
      <div class="form-group">
        <label for="name">Имя</label>
        <input type="text" id="name" name="name" placeholder="Софья" required>
      </div>
      <div class="form-group">
        <label for="surname">Фамилия</label>
        <input type="text" id="surname" name="surname" placeholder="Константинова" required>
      </div>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" placeholder="example@mail.com" required>
      </div>
      <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" id="password" name="password" placeholder="********">
      </div>
     <!-- <div class="form-group">
        <label for="confirm-password">Подтвердите пароль</label>
        <input type="password" id="confirm-password" placeholder="********">
      </div> -->
      <button type="submit" class="submit-button">РЕГИСТРАЦИЯ</button>
      <!--<div class="divider"></div>
      <button type="button" class="google-button">
        <img src="/static/icons/Google.png" alt="Google" class="google-icon">
        Продолжить с Google
      </button> -->
    </form>
  </div>
</body>
</html>
