<!DOCTYPE html>
<html>
<head>
  <title>Вторая страница</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Новости игровой индустрии, игры"/>
  <link rel = "stylesheet" type = "text/css" href = "/static/css/Games.css">
  <link rel = "stylesheet" type = "text/css" href = "/static/css/bebas_neue_bold.css">
  <script src="/static/javascript/List_Of_Commands.js" defer></script>
  <link type="image/x-icon" href="../Logo/Group 2.ico" rel="shortcut icon">
  <link type="Image/x-icon" href="../Logo/Group 2.ico" rel="icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

  <section class="Background"> 
  </section>

  <header>
    <section class="Line">
      <nav aria-label="Menu">
        <ul>
          <li class="inline-text">
              <a class="c-btn c-btn--big-line" href="/news_first_page" data-hover-name="Новости" style="font-family: 'Bebas Neue Bold';">
                Новости</a>
          </li>

          <li class="inline-text">
            <a class="c-btn c-btn--big-line" href="/first_page" data-hover-name="Игры" style="font-family: 'Bebas Neue Bold';">
              Игры</a>
        </li>

           <li class="inline-text">
              <a class="c-btn c-btn--big-line" href="/game_engine" data-hover-name="Игровые движки" style="font-family: 'Bebas Neue Bold';">
                Игровые движки</a>
          </li>
        </ul>
      </nav>

      <div class="auth-links">
        <a href="/login" style="font-family: 'Bebas Neue Bold';" class="c-btn c-btn--big-line auth-link" data-hover-name="Вход">Вход</a> /
        <a href="/reg" style="font-family: 'Bebas Neue Bold';" class="c-btn c-btn--big-line auth-link" data-hover-name="Регистрация">Регистрация</a>
      </div>
      <div class="logo-container">
        <a href="/news_first_page"><img src="/static/icons/Meta.png" alt="Логотип" class="logo"></a>
        <span class="logo-text" style="font-family: 'Bebas Neue Bold';">Code&Play</span>
      </div>
    </section>
  </header>

  <section class="Games">
    <div class="container">
      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/doom"> <img src="/static/images/Doom.jpg" class="zoom-img" alt="Doom Eternal"> </a> </div>
        <div class = "Text">Doom Eternal</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/mgr"> <img src="/static/images/Metal_Gear_Rising.jpeg" class="zoom-img" alt="Metal Gear Rising : Revengeance"> </a> </div>
        <div class = "Text">Metal Gear Rising : Revengeance</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/death_stranding"> <img src="/static/images/Death_Stranding.jpg" class="zoom-img" alt="Death Stranding"> </a> </div>
        <div class = "Text">Death Stranding</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/garry's_mod"> <img src="/static/images/Garrys_Mod.jpeg" class="zoom-img" alt="Garry’s Mod"> </a> </div>
        <div class = "Text">Garry’s Mod</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/don't_starve"> <img src="/static/images/Dont_Starve.jpeg" class="zoom-img" alt="Don’t Starve"> </a> </div>
        <div class = "Text">Don’t Starve</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/hearthstone"> <img src="/static/images/Hearthstone.jpg" class="zoom-img" alt="Hearthstone"> </a> </div>
        <div class = "Text">Hearthstone</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/mtg"> <img src="/static/images/MTG.jpg" class="zoom-img" alt="Magic : The Gathering"> </a> </div>
        <div class = "Text">Magic : The Gathering</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/detroit"> <img src="/static/images/Detroit.jpg" class="zoom-img" alt="Detroit : Become Human"> </a> </div>
        <div class = "Text">Detroit : Become Human</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/need_for_speed"> <img src="/static/images/Need_For_Speed.jpeg" class="zoom-img" alt="Need For Speed"> </a> </div>
        <div class = "Text">Need For Speed</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/pubg"> <img src="/static/images/pubg.jpg" class="zoom-img" alt="PUBG"> </a> </div>
        <div class = "Text">PUBG</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/apex"> <img src="/static/images/Apex_Legends.jpg" class="zoom-img" alt="Apex Legends"> </a> </div>
        <div class = "Text">Apex Legends</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/fortnite"> <img src="/static/images/Fortnite.jpg" class="zoom-img" alt="Fortnite"> </a> </div>
        <div class = "Text">Fortnite</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/isaac"> <img src="/static/images/Isaac.jpg" class="zoom-img" alt="The Binding of Isaac"> </a> </div>
        <div class = "Text">The Binding of Isaac</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/undertale"> <img src="/static/images/Undertale.png" class="zoom-img" alt="Undertale"> </a> </div>
        <div class = "Text">Undertale</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/sackboy"> <img src="/static/images/SackBoy.jpg" class="zoom-img" alt="Sackboy: A Big Adventure"> </a> </div>
        <div class = "Text">Sackboy: A Big Adventure</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/hollow_night"> <img src="/static/images/Hollow_Night.jpg" class="zoom-img" alt="Hollow Night"> </a> </div>
        <div class = "Text">Hollow Night</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/FNAF.jpg" class="zoom-img" alt="Five Nights at Freddy's"> </a> </div>
        <div class = "Text">Five Nights at Freddy's</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Wolfenstein.jpg" class="zoom-img" alt="Wolfenstein"> </a> </div>
        <div class = "Text">Wolfenstein</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Wolfenstein_2.jpg" class="zoom-img" alt="Wolfenstein 2"> </a> </div>
        <div class = "Text">Wolfenstein 2</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Silent_Hill.jpg" class="zoom-img" alt="Silent Hill"> </a> </div>
        <div class = "Text">Silent Hill</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Silent_Hill_2.jpg" class="zoom-img" alt="Silent Hill 2"> </a> </div>
        <div class = "Text">Silent Hill 2</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Middle_Earth.jpg" class="zoom-img" alt="Middle-earth: Shadow of Mordor"> </a> </div>
        <div class = "Text">Middle-earth: Shadow of Mordor</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Middle_Earth_2.jpg" class="zoom-img" alt="Middle-earth: Shadow of War"> </a> </div>
        <div class = "Text">Middle-earth: Shadow of War</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/For_Honor.jpeg" class="zoom-img" alt="For Honor"> </a> </div>
        <div class = "Text">For Honor</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Ghost.jpg" class="zoom-img" alt="Ghost of Tsushima"> </a> </div>
        <div class = "Text">Ghost of Tsushima</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Way_Out.jpg" class="zoom-img" alt="A Way Out"> </a> </div>
        <div class = "Text">A Way Out</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Until_Dawn.jpg" class="zoom-img" alt="Until Dawn"> </a> </div>
        <div class = "Text">Until Dawn</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Quarry.jpg" class="zoom-img" alt="The Quarry"> </a> </div>
        <div class = "Text">The Quarry</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Rust.jpg" class="zoom-img" alt="Rust"> </a> </div>
        <div class = "Text">Rust</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/the_last_of_us"> <img src="/static/images/Nier.jpg" class="zoom-img" alt="NieR: Automata"> </a> </div>
        <div class = "Text">NieR: Automata</div>
        </div>
      </div>
    </div>
  </section>

      <footer> 
        <nav aria-label="Pages">
          <ul>
            <li class="inline-text">
                <a class="c-btn c-btn--big-line" href="/first_page" data-hover-name="1">1</a>
            </li>
  
            <li class="inline-text">
              <a class="c-btn c-btn--big-line" href="/second_page" data-hover-name="2">2</a>
            </li>
  
            <li class="inline-text">
                <a class="c-btn c-btn--big-line" href="/third_page" data-hover-name="3">3</a>
            </li>
  
            <li class="inline-text">
              <a class="c-btn c-btn--big-line" href="/fourth_page" data-hover-name="4">4</a>
            </li>
  
            <li class="inline-text">
              <a class="c-btn c-btn--big-line" href="/fifth_page" data-hover-name="5">5</a>
            </li>
  
            <li class="inline-text">
              <a class="c-btn c-btn--big-line" href="/sixth_page" data-hover-name="6">6</a>
            </li>
          </ul>
        </nav>
  
        <div class = "Information_Follow">
          Следите за нами
        </div>
  
        <nav aria-label="Icons">
          <ul>
            <li class="inline-image"> <a href="https://t.me/Fetyper"> <img src="/static/icons/Telegram.png" alt="Telegram"></a></li>
            <li class="inline-image"> <a href="https://vk.com/coolstudent1"> <img src="/static/icons/VK.png" alt="VK"></a></li>
            <li class="inline-image"> <a href="https://github.com/Sonic11-stack?tab=overview&from=2024-12-01&to=2024-12-08"> <img src="/static/icons/GitHub.png" alt="GitHub"></a></li>
          </ul>
        </nav>
  
        <div class = "Information_Contact">
          Почта для связи: matvejnazarov4@gmail.com
        </div>
        <div class = "Information_Year">
          © 2025. Все права защищены
        </div>
      </footer>
  </body>
</html>