<!DOCTYPE html>
<html>
<head>
  <title>Вторая страница</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Новости игровой индустрии, игры"/>
  <link rel = "stylesheet" type = "text/css" href = "../CSS/Games.css">
  <script src="../JavaScript/List_Of_Commands.js" defer></script>
  <link type="image/x-icon" href="../Logo/Group 2.ico" rel="shortcut icon">
  <link type="Image/x-icon" href="../Logo/Group 2.ico" rel="icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

  <section class="Background"> 
  </section>

  <header>
    <section class = "Line">
    <nav aria-label="Menu">
      <ul>
        <li class="inline-text"><a href="../HTML/News_First_Page.html">Новости</a></li>
        <li class="inline-text"><a href="../HTML/First_Page.html">Игры</a></li>
        <li class="inline-text"><a href="../HTML/Game_Engines.html">Игровые движки</a></li>
      </ul>
    </nav>
    <div class="auth-links">
      <a href="#login" class="auth-link">Вход</a> /
      <a href="#register" class="auth-link">Регистрация</a>
    </div>
    </section>
  </header>

  <section class="Games">
    <div class="container">
      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Doom.jpg" class="zoom-img" alt="Doom Eternal"> </div>
        <div class = "Text">Doom Eternal</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Metal_Gear_Rising.jpeg" class="zoom-img" alt="Metal Gear Rising : Revengeance"> </div>
        <div class = "Text">Metal Gear Rising : Revengeance</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Death_Stranding.jpg" class="zoom-img" alt="Death Stranding"> </div>
        <div class = "Text">Death Stranding</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Garrys_Mod.jpeg" class="zoom-img" alt="Garry’s Mod"> </div>
        <div class = "Text">Garry’s Mod</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Dont_Starve.jpeg" class="zoom-img" alt="Don’t Starve"> </div>
        <div class = "Text">Don’t Starve</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Hearthstone.jpg" class="zoom-img" alt="Hearthstone"> </div>
        <div class = "Text">Hearthstone</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/MTG.jpg" class="zoom-img" alt="Magic : The Gathering"> </div>
        <div class = "Text">Magic : The Gathering</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Detroit.jpg" class="zoom-img" alt="Detroit : Become Human"> </div>
        <div class = "Text">Detroit : Become Human</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Need_For_Speed.jpeg" class="zoom-img" alt="Need For Speed"> </div>
        <div class = "Text">Need For Speed</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/pubg.jpg" class="zoom-img" alt="PUBG"> </div>
        <div class = "Text">PUBG</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Apex_Legends.jpg" class="zoom-img" alt="Apex Legends"> </div>
        <div class = "Text">Apex Legends</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Fortnite.jpg" class="zoom-img" alt="Fortnite"> </div>
        <div class = "Text">Fortnite</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Isaac.jpg" class="zoom-img" alt="The Binding of Isaac"> </div>
        <div class = "Text">The Binding of Isaac</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Undertale.png" class="zoom-img" alt="Undertale"> </div>
        <div class = "Text">Undertale</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/SackBoy.jpg" class="zoom-img" alt="Sackboy: A Big Adventure"> </div>
        <div class = "Text">Sackboy: A Big Adventure</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Hollow_Night.jpg" class="zoom-img" alt="Hollow Night"> </div>
        <div class = "Text">Hollow Night</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/FNAF.jpg" class="zoom-img" alt="Five Nights at Freddy's"> </div>
        <div class = "Text">Five Nights at Freddy's</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Wolfenstein.jpg" class="zoom-img" alt="Wolfenstein"> </div>
        <div class = "Text">Wolfenstein</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Wolfenstein_2.jpg" class="zoom-img" alt="Wolfenstein 2"> </div>
        <div class = "Text">Wolfenstein 2</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Silent_Hill.jpg" class="zoom-img" alt="Silent Hill"> </div>
        <div class = "Text">Silent Hill</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Silent_Hill_2.jpg" class="zoom-img" alt="Silent Hill 2"> </div>
        <div class = "Text">Silent Hill 2</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Middle_Earth.jpg" class="zoom-img" alt="Middle-earth: Shadow of Mordor"> </div>
        <div class = "Text">Middle-earth: Shadow of Mordor</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Middle_Earth_2.jpg" class="zoom-img" alt="Middle-earth: Shadow of War"> </div>
        <div class = "Text">Middle-earth: Shadow of War</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/For_Honor.jpeg" class="zoom-img" alt="For Honor"> </div>
        <div class = "Text">For Honor</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Ghost.jpg" class="zoom-img" alt="Ghost of Tsushima"> </div>
        <div class = "Text">Ghost of Tsushima</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Way_Out.jpg" class="zoom-img" alt="A Way Out"> </div>
        <div class = "Text">A Way Out</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Until_Dawn.jpg" class="zoom-img" alt="Until Dawn"> </div>
        <div class = "Text">Until Dawn</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Quarry.jpg" class="zoom-img" alt="The Quarry"> </div>
        <div class = "Text">The Quarry</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Rust.jpg" class="zoom-img" alt="Rust"> </div>
        <div class = "Text">Rust</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Nier.jpg" class="zoom-img" alt="NieR: Automata"> </div>
        <div class = "Text">NieR: Automata</div>
        </div>
      </div>
    </div>
  </section>

      <footer> 
        <nav aria-label="Pages">
          <ul>
            <li class="inline-text"><a href="../HTML/First_Page.html">1</a></li>
            <li class="inline-text"><a href="../HTML/Second_Page.html">2</a></li>
            <li class="inline-text"><a href="../HTML/Third_Page.html">3</a></li>
            <li class="inline-text"><a href="../HTML/Fourth_Page.html">4</a></li>
            <li class="inline-text"><a href="../HTML/Fifth_Page.html">5</a></li>
            <li class="inline-text"><a href="../HTML/Sixth_Page.html">6</a></li>
          </ul>
        </nav>
  
        <div class = "Information_Follow">
          Следите за нами
        </div>
  
        <nav aria-label="Icons">
          <ul>
            <li class="inline-image"> <a href="https://t.me/Fetyper"> <img src="../Icons/Telegram.png" alt="Telegram"></a></li>
            <li class="inline-image"> <a href="https://vk.com/coolstudent1"> <img src="../Icons/VK.png" alt="VK"></a></li>
            <li class="inline-image"> <a href="https://github.com/Sonic11-stack?tab=overview&from=2024-12-01&to=2024-12-08"> <img src="../Icons/GitHub.png" alt="GitHub"></a></li>
          </ul>
        </nav>
  
        <div class = "Information_Contact">
          Почта для связи: matvejnazarov4@gmail.com
        </div>
        <div class = "Information_Year">
          © 2024. Все права защищены
        </div>
      </footer>
  </body>
</html>