<!DOCTYPE html>
<html>
<head>
  <title>Шестая страница</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Новости игровой индустрии, игры"/>
  <link rel = "stylesheet" type = "text/css" href = "../CSS/Games.css">
  <script src="../JavaScript/List_Of_Commands.js" defer></script>
  <link type="image/x-icon" href="../Logo/Group 2.ico" rel="shortcut icon">
  <link type="Image/x-icon" href="../Logo/Group 2.ico" rel="icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  
  <section class="Background">
  </section>


  <header>
    <section class = "Line">
    <nav aria-label="Menu">
      <ul>
        <li class="inline-text"><a href="../HTML/News_First_Page.html">Новости</a></li>
        <li class="inline-text"><a href="../HTML/First_Page.html">Игры</a></li>
        <li class="inline-text"><a href="../HTML/Game_Engines.html">Игровые движки</a></li>
      </ul>
    </nav>
    <div class="auth-links">
      <a href="#login" class="auth-link">Вход</a> /
      <a href="#register" class="auth-link">Регистрация</a>
    </div>
    </section>
  </header>

  <section class="Games">
    <div class="container">
      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Halo.jpg" class="zoom-img" alt="Halo"> </div>
        <div class="Text">Halo</div>
      </div>
        
      <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Halo_2.jpg" class="zoom-img" alt="Halo 2"> </div>
        <div class="Text">Halo 2</div>
      </div>
  
      <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Halo_3.jpg" class="zoom-img" alt="Halo 3"> </div>
        <div class="Text">Halo 3</div>
      </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Halo_4.jpg" class="zoom-img" alt="Halo 4"> </div>
        <div class="Text">Halo 4</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Halo_Infinite.png" class="zoom-img" alt="Halo Infinite"> </div>
        <div class="Text">Halo Infinite</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Rocket.png" class="zoom-img" alt="Rocket League"> </div>
        <div class="Text">Rocket League</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Crossout.jpg" class="zoom-img" alt="Crossout"> </div>
        <div class="Text">Crossout</div>
        </div>

        <div class="game-item">
        <div class="game-card"> <img src="../Images/Hello_Neig_1.jpg" class="zoom-img" alt="Hello Neighbor"> </div>
        <div class="Text">Hello Neighbor</div>
        </div>
  
        <div class="game-item">
        <div class="game-card"> <img src="../Images/Hello_Neig_2.jpg" class="zoom-img" alt="Hello Neighbor 2"> </div>
        <div class="Text">Hello Neighbor 2</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Path_Of_Exile.jpeg" class="zoom-img" alt="Path of Exile"> </div>
        <div class="Text">Path of Exile</div>
        </div>

        <div class="game-item">
        <div class="game-card"> <img src="../Images/Unravel.jpg" class="zoom-img" alt="Unravel"> </div>
        <div class="Text">Unravel</div>
        </div>
  
        <div class="game-item">
        <div class="game-card"> <img src="../Images/Unravel_2.jpg" class="zoom-img" alt="Unravel 2"> </div>
        <div class="Text">Unravel 2</div>
        </div>
      </div>
    
      <div class="grid-container">
        <div class="game-item">
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Leos_Fortune.jpg" class="zoom-img" alt="Leos Fortune"> </div>
        <div class="Text">Leos Fortune</div>
        </div>

        <div class="game-item">
        <div class="game-card"> <img src="../Images/Lucky_Tower.jpg" class="zoom-img" alt="Lucky tower"> </div>
        <div class="Text">Lucky tower</div>
        </div>
  
        <div class="game-item">
        <div class="game-card"> <img src="../Images/Everlasting_Summer.jpg" class="zoom-img" alt="Бесконечное лето"> </div>
        <div class="Text">Бесконечное лето</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Cult.jpg" class="zoom-img" alt="Cult of the Lamb"> </div>
        <div class="Text">Cult of the Lamb</div>
        </div>

        <div class="game-item">
        <div class="game-card"> <img src="../Images/Plague.jpg" class="zoom-img" alt="Plague Inc"> </div>
        <div class="Text">Plague Inc</div>
        </div>
  
        <div class="game-item">
        <div class="game-card"> <img src="../Images/Doki.jpg" class="zoom-img" alt="Doki Doki Literature Club"> </div>
        <div class="Text">Doki Doki Literature Club</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Hotline.png" class="zoom-img" alt="Hotline Miami"> </div>
        <div class="Text">Hotline Miami</div>
        </div>

        <div class="game-item">
        <div class="game-card"> <img src="../Images/Outlast.jpg" class="zoom-img" alt="Outlast"> </div>
        <div class="Text">Outlast</div>
        </div>
  
        <div class="game-item">
        <div class="game-card"> <img src="../Images/Outlast_2.jpg" class="zoom-img" alt="Outlast 2"> </div>
        <div class="Text">Outlast 2</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Hades.png" class="zoom-img" alt="Hades"> </div>
        <div class="Text">Hades</div>
        </div>

        <div class="game-item">
        <div class="game-card"> <img src="../Images/Hades_2.jpg" class="zoom-img" alt="Hades 2"> </div>
        <div class="Text">Hades 2</div>
        </div>
  
        <div class="game-item">
        <div class="game-card"> <img src="../Images/Rayman.jpg" class="zoom-img" alt="Rayman legends"> </div>
        <div class="Text">Rayman legends</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Uncharted.webp" class="zoom-img" alt="Uncharted: Legacy of Thieves"> </div>
        <div class="Text">Uncharted: Legacy of Thieves</div>
        </div>

        <div class="game-item">
        <div class="game-card"> <img src="../Images/goat-simulator-remastered-3pfnt.jpg" class="zoom-img" alt="Goat Simulator"> </div>
        <div class="Text">Goat Simulator</div>
        </div>
  
        <div class="game-item">
        <div class="game-card"> <img src="../Images/Disco.jpg" class="zoom-img" alt="Disco Elysium"> </div>
        <div class="Text">Disco Elysium</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Super_Hot.jpg" class="zoom-img" alt="Superhot"> </div>
        <div class="Text">Superhot</div>
        </div>

        <div class="game-item">
        <div class="game-card"> <img src="../Images/ABZU.jpg" class="zoom-img" alt="ABZU"> </div>
        <div class="Text">ABZU</div>
        </div>

        <div class="game-item">
        <div class="game-card"> <img src="../Images/It_Takes_Two.jpg" class="zoom-img" alt="It Takes Two"> </div>
        <div class="Text">It Takes Two</div>
        </div>
      </div>

    </div>
    </div>
  </section>
  
      <footer> 
        <nav aria-label="Pages">
          <ul>
            <li class="inline-text"><a href="../HTML/First_Page.html">1</a></li>
            <li class="inline-text"><a href="../HTML/Second_Page.html">2</a></li>
            <li class="inline-text"><a href="../HTML/Third_Page.html">3</a></li>
            <li class="inline-text"><a href="../HTML/Fourth_Page.html">4</a></li>
            <li class="inline-text"><a href="../HTML/Fifth_Page.html">5</a></li>
            <li class="inline-text"><a href="../HTML/Sixth_Page.html">6</a></li>
          </ul>
        </nav>
  
        <div class = "Information_Follow">
          Следите за нами
        </div>
  
        <nav aria-label="Icons">
          <ul>
            <li class="inline-image"> <a href="https://t.me/Fetyper"> <img src="../Icons/Telegram.png" alt="Telegram"></a></li>
            <li class="inline-image"> <a href="https://vk.com/coolstudent1"> <img src="../Icons/VK.png" alt="VK"></a></li>
            <li class="inline-image"> <a href="https://github.com/Sonic11-stack?tab=overview&from=2024-12-01&to=2024-12-08"> <img src="../Icons/GitHub.png" alt="GitHub"></a></li>
          </ul>
        </nav>
  
        <div class = "Information_Contact">
          Почта для связи: matvejnazarov4@gmail.com
        </div>
        <div class = "Information_Year">
          © 2024. Все права защищены
        </div>
      </footer>
  </body>
</html>