<!DOCTYPE html>
<html>
<head>
  <title>Шестая страница</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Новости игровой индустрии, игры"/>
  <link rel="stylesheet" type="text/css" href="/static/css/Games.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bebas_neue_bold.css">
  <script src="/static/javascript/List_Of_Commands.js" defer></script>
  <script src="/static/javascript/Log_And_Logout.js" defer></script>
  <script src="/static/javascript/Pages.js" defer></script>
  <link type="image/x-icon" href="../Logo/Group 2.ico" rel="shortcut icon">
  <link type="Image/x-icon" href="../Logo/Group 2.ico" rel="icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  
  <section class="Background">
  </section>

  <header>
    <section class="Line">
      <nav aria-label="Menu">
        <ul>
          <li class="inline-text"><a class="c-btn c-btn--big-line" href="/news_first_page" data-hover-name="Новости" style="font-family: 'Bebas Neue Bold';">Новости</a></li>

          <li class="inline-text"><a class="c-btn c-btn--big-line" href="/first_page" data-hover-name="Игры" style="font-family: 'Bebas Neue Bold';">Игры</a></li>

           <li class="inline-text"><a class="c-btn c-btn--big-line" href="/game_engines" data-hover-name="Игровые движки" style="font-family: 'Bebas Neue Bold';">Игровые движки</a></li>
        </ul>
      </nav>

      {% if not is_authenticated %}
          <div class="auth-links">
            <a href="/login" style="font-family: 'Bebas Neue Bold';" class="c-btn c-btn--big-line auth-link" data-hover-name="Вход">Вход</a> /
            <a href="/reg" style="font-family: 'Bebas Neue Bold';" class="c-btn c-btn--big-line auth-link" data-hover-name="Регистрация">Регистрация</a>
          </div>
      {% else %}
          <div class="auth-links-1">
            <a href="/profile"><img src="/static/icons/Test Account.png" alt="Логотип" class="logo"></a>
            <a href="/logout" id="logoutBtn" style="font-family: 'Bebas Neue Bold';" class="c-btn c-btn--big-line auth-link-1" data-hover-name="Выйти">Выйти</a>
          </div>
      {% endif %}

  <div class="logo-container">
      <a href="/news_first_page"><img src="/static/icons/Meta.png" alt="Логотип" class="logo"></a>
      <span class="logo-text" style="font-family: 'Bebas Neue Bold';">Code&Play</span>
  </div>
      
    </section>
  </header>

  <section class="Games">
    <div class="container">
      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"><a href="/game/151"><img src="/static/images/Game_151.jpg" class="zoom-img" alt="Halo"></a></div>
        <div class="Text">/get_text/151</div>
      </div>
        
      <div class="game-item"> 
        <div class="game-card"><a href="/game/152"><img src="/static/images/Game_152.jpg" class="zoom-img" alt="Halo 2"></a></div>
        <div class="Text">/get_text/152</div>
      </div>
  
      <div class="game-item"> 
        <div class="game-card"><a href="/game/153"><img src="/static/images/Game_153.jpg" class="zoom-img" alt="Halo 3"></a></div>
        <div class="Text">/get_text/153</div>
      </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"><a href="/game/154"><img src="/static/images/Game_154.jpg" class="zoom-img" alt="Halo 4"></a></div>
        <div class="Text">/get_text/154</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"><a href="/game/155"><img src="/static/images/Game_155.jpg" class="zoom-img" alt="Halo Infinite"></a></div>
        <div class="Text">/get_text/155</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"><a href="/game/156"><img src="/static/images/Game_156.jpg" class="zoom-img" alt="Rocket League"></a></div>
        <div class="Text">/get_text/156</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">
        <div class="game-card"><a href="/game/157"><img src="/static/images/Game_157.jpg" class="zoom-img" alt="Crossout"></a></div>
        <div class="Text">/get_text/157</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/158"><img src="/static/images/Game_158.jpg" class="zoom-img" alt="Hello Neighbor"></a></div>
        <div class="Text">/get_text/158</div>
        </div>
  
        <div class="game-item">
        <div class="game-card"><a href="/game/159"><img src="/static/images/Game_159.jpg" class="zoom-img" alt="Hello Neighbor 2"></a></div>
        <div class="Text">/get_text/159</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">
        <div class="game-card"><a href="/game/160"><img src="/static/images/Game_160.jpg" class="zoom-img" alt="Path of Exile"></a></div>
        <div class="Text">/get_text/160</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/161"><img src="/static/images/Game_161.jpg" class="zoom-img" alt="Unravel"></a></div>
        <div class="Text">/get_text/161</div>
        </div>
  
        <div class="game-item">
        <div class="game-card"><a href="/game/162"><img src="/static/images/Game_162.jpg" class="zoom-img" alt="Unravel 2"></a></div>
        <div class="Text">/get_text/162</div>
        </div>
      </div>
    
      <div class="grid-container">
        <div class="game-item">
        <div class="game-card"><a href="/game/163"><img src="/static/images/Game_163.jpg" class="zoom-img" alt="Leos Fortune"></a></div>
        <div class="Text">/get_text/163</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/164"><img src="/static/images/Game_164.jpg" class="zoom-img" alt="Lucky tower"></a></div>
        <div class="Text">/get_text/164</div>
        </div>
  
        <div class="game-item">
        <div class="game-card"><a href="/game/165"><img src="/static/images/Game_165.jpg" class="zoom-img" alt="Бесконечное лето"></a></div>
        <div class="Text">/get_text/165</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">
        <div class="game-card"><a href="/game/166"><img src="/static/images/Game_166.jpg" class="zoom-img" alt="Cult of the Lamb"></a></div>
        <div class="Text">/get_text/166</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/167"><img src="/static/images/Game_167.jpg" class="zoom-img" alt="Plague Inc"></a></div>
        <div class="Text">/get_text/167</div>
        </div>
  
        <div class="game-item">
        <div class="game-card"><a href="/game/168"><img src="/static/images/Game_168.jpg" class="zoom-img" alt="Doki Doki Literature Club"></a></div>
        <div class="Text">/get_text/168</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">
        <div class="game-card"><a href="/game/169"><img src="/static/images/Game_169.jpg" class="zoom-img" alt="Hotline Miami"></a></div>
        <div class="Text">/get_text/169</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/170"><img src="/static/images/Game_170.jpg" class="zoom-img" alt="Outlast"></a></div>
        <div class="Text">/get_text/170</div>
        </div>
  
        <div class="game-item">
        <div class="game-card"><a href="/game/171"><img src="/static/images/Game_171.jpg" class="zoom-img" alt="Outlast 2"></a></div>
        <div class="Text">/get_text/171</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">
        <div class="game-card"><a href="/game/172"><img src="/static/images/Game_172.jpg" class="zoom-img" alt="Hades"></a></div>
        <div class="Text">/get_text/172</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/173"><img src="/static/images/Game_173.jpg" class="zoom-img" alt="Hades 2"></a></div>
        <div class="Text">/get_text/173</div>
        </div>
  
        <div class="game-item">
        <div class="game-card"><a href="/game/174"><img src="/static/images/Game_174.jpg" class="zoom-img" alt="Rayman legends"></a></div>
        <div class="Text">/get_text/174</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">
        <div class="game-card"><a href="/game/175"><img src="/static/images/Game_175.jpg" class="zoom-img" alt="Uncharted: Legacy of Thieves"></a></div>
        <div class="Text">/get_text/175</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/176"><img src="/static/images/Game_176.jpg" class="zoom-img" alt="Goat Simulator"></a></div>
        <div class="Text">/get_text/176</div>
        </div>
  
        <div class="game-item">
        <div class="game-card"><a href="/game/177"><img src="/static/images/Game_177.jpg" class="zoom-img" alt="Disco Elysium"></a></div>
        <div class="Text">/get_text/177</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">
        <div class="game-card"><a href="/game/178"><img src="/static/images/Game_178.jpg" class="zoom-img" alt="Superhot"></a></div>
        <div class="Text">/get_text/178</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/179"><img src="/static/images/Game_179.jpg" class="zoom-img" alt="ABZU"></a></div>
        <div class="Text">/get_text/179</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/180"><img src="/static/images/Game_180.jpg" class="zoom-img" alt="It Takes Two"></a></div>
        <div class="Text">/get_text/180</div>
        </div>
      </div>
    </div>
    </div>
  </section>
  
      <footer> 
        <nav aria-label="Pages">
          <ul>
            <li class="inline-text"><a class="c-btn c-btn--big-line" href="/first_page" data-hover-name="1">1</a></li>
  
            <li class="inline-text"><a class="c-btn c-btn--big-line" href="/second_page" data-hover-name="2">2</a></li>
  
            <li class="inline-text"><a class="c-btn c-btn--big-line" href="/third_page" data-hover-name="3">3</a></li>
  
            <li class="inline-text"><a class="c-btn c-btn--big-line" href="/fourth_page" data-hover-name="4">4</a></li>
  
            <li class="inline-text"><a class="c-btn c-btn--big-line" href="/fifth_page" data-hover-name="5">5</a></li>
  
            <li class="inline-text"><a class="c-btn c-btn--big-line" href="/sixth_page" data-hover-name="6">6</a></li>
          </ul>
        </nav>
  
        <div class = "Information_Follow">Следите за нами</div>
  
        <nav aria-label="Icons">
          <ul>
            <li class="inline-image"> <a href="https://t.me/Fetyper"> <img src="/static/icons/Telegram.png" alt="Telegram"></a></li>
            <li class="inline-image"> <a href="https://vk.com/coolstudent1"> <img src="/static/icons/VK.png" alt="VK"></a></li>
            <li class="inline-image"> <a href="https://github.com/Sonic11-stack?tab=overview&from=2024-12-01&to=2024-12-08"> <img src="/static/icons/GitHub.png" alt="GitHub"></a></li>
          </ul>
        </nav>
  
        <div class = "Information_Contact">Почта для связи: matvejnazarov4@gmail.com</div>
        <div class = "Information_Year">© 2025. Все права защищены</div>
      </footer>
  </body>
</html>