<!DOCTYPE html>
<html>
<head>
  <title>Шестая страница</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Новости игровой индустрии, игры"/>
  <link rel="stylesheet" type="text/css" href="/static/css/Games.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bebas_neue_bold.css">
  <script src="/static/javascript/List_Of_Commands.js" defer></script>
  <script src="/static/javascript/Log_And_Logout.js" defer></script>
  <script src="/static/javascript/Download_Text.js" defer></script>
  <script src="/static/javascript/Pages.js" defer></script>
  <link type="image/x-icon" href="/static/icons/Logo.ico" rel="shortcut icon">
  <link type="Image/x-icon" href="/static/icons/Logo.ico" rel="icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  
  <section class="Background">
  </section>

  <header>
    <section class="Line">
      <nav aria-label="Menu">
        <ul>
          <li class="inline-text"><a class="c-btn c-btn--big-line" href="/news_first_page" data-hover-name="Новости" style="font-family: 'Bebas Neue Bold';">Новости</a></li>

          <li class="inline-text"><a class="c-btn c-btn--big-line" href="/first_page" data-hover-name="Игры" style="font-family: 'Bebas Neue Bold';">Игры</a></li>

           <li class="inline-text"><a class="c-btn c-btn--big-line" href="/game_engines" data-hover-name="Игровые движки" style="font-family: 'Bebas Neue Bold';">Игровые движки</a></li>
        </ul>
      </nav>

      {% if not is_authenticated %}
          <div class="auth-links">
            <a href="/login" style="font-family: 'Bebas Neue Bold';" class="c-btn c-btn--big-line auth-link" data-hover-name="Вход">Вход</a> /
            <a href="/reg" style="font-family: 'Bebas Neue Bold';" class="c-btn c-btn--big-line auth-link" data-hover-name="Регистрация">Регистрация</a>
          </div>
      {% else %}
          <div class="auth-links-1">
            <a href="/profile"><img src="/static/icons/Test Account.png" alt="Логотип" class="logo"></a>
            <a href="/logout" id="logoutBtn" style="font-family: 'Bebas Neue Bold';" class="c-btn c-btn--big-line auth-link-1" data-hover-name="Выйти">Выйти</a>
          </div>
      {% endif %}

  <div class="logo-container">
      <a href="/news_first_page"><img src="/static/icons/Logo.jpg" alt="Логотип" class="logo"></a>
      <span class="logo-text" style="font-family: 'Bebas Neue Bold';">Code&Play</span>
  </div>
      
    </section>
  </header>

  <section class="Games">
    <div class="container">
      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"><a href="/game/151"><img src="/static/images/Game_151.jpg" class="zoom-img" alt="Image 151"></a></div>
        <div class="Text" data-url="/get_text/151">Загрузка</div>
      </div>
        
      <div class="game-item"> 
        <div class="game-card"><a href="/game/152"><img src="/static/images/Game_152.jpg" class="zoom-img" alt="Image 152"></a></div>
        <div class="Text" data-url="/get_text/152">Загрузка</div>
      </div>
  
      <div class="game-item"> 
        <div class="game-card"><a href="/game/153"><img src="/static/images/Game_153.jpg" class="zoom-img" alt="Image 153"></a></div>
        <div class="Text" data-url="/get_text/153">Загрузка</div>
      </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"><a href="/game/154"><img src="/static/images/Game_154.jpg" class="zoom-img" alt="Image 154"></a></div>
        <div class="Text" data-url="/get_text/154">Загрузка</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"><a href="/game/155"><img src="/static/images/Game_155.jpg" class="zoom-img" alt="Image 155"></a></div>
        <div class="Text" data-url="/get_text/155">Загрузка</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"><a href="/game/156"><img src="/static/images/Game_156.jpg" class="zoom-img" alt="Image 156"></a></div>
        <div class="Text" data-url="/get_text/156">Загрузка</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">
        <div class="game-card"><a href="/game/157"><img src="/static/images/Game_157.jpg" class="zoom-img" alt="Image 157"></a></div>
        <div class="Text" data-url="/get_text/157">Загрузка</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/158"><img src="/static/images/Game_158.jpg" class="zoom-img" alt="Image 158"></a></div>
        <div class="Text" data-url="/get_text/158">Загрузка</div>
        </div>
  
        <div class="game-item">
        <div class="game-card"><a href="/game/159"><img src="/static/images/Game_159.jpg" class="zoom-img" alt="Image 159"></a></div>
        <div class="Text" data-url="/get_text/159">Загрузка</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">
        <div class="game-card"><a href="/game/160"><img src="/static/images/Game_160.jpg" class="zoom-img" alt="Image 160"></a></div>
        <div class="Text" data-url="/get_text/160">Загрузка</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/161"><img src="/static/images/Game_161.jpg" class="zoom-img" alt="Image 161"></a></div>
        <div class="Text" data-url="/get_text/161">Загрузка</div>
        </div>
  
        <div class="game-item">
        <div class="game-card"><a href="/game/162"><img src="/static/images/Game_162.jpg" class="zoom-img" alt="Image 162"></a></div>
        <div class="Text" data-url="/get_text/162">Загрузка</div>
        </div>
      </div>
    
      <div class="grid-container">
        <div class="game-item">
        <div class="game-card"><a href="/game/163"><img src="/static/images/Game_163.jpg" class="zoom-img" alt="Image 163"></a></div>
        <div class="Text" data-url="/get_text/163">Загрузка</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/164"><img src="/static/images/Game_164.jpg" class="zoom-img" alt="Image 164"></a></div>
        <div class="Text" data-url="/get_text/164">Загрузка</div>
        </div>
  
        <div class="game-item">
        <div class="game-card"><a href="/game/165"><img src="/static/images/Game_165.jpg" class="zoom-img" alt="Image 165"></a></div>
        <div class="Text" data-url="/get_text/165">Загрузка</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">
        <div class="game-card"><a href="/game/166"><img src="/static/images/Game_166.jpg" class="zoom-img" alt="Image 166"></a></div>
        <div class="Text" data-url="/get_text/166">Загрузка</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/167"><img src="/static/images/Game_167.jpg" class="zoom-img" alt="Image 167"></a></div>
        <div class="Text" data-url="/get_text/167">Загрузка</div>
        </div>
  
        <div class="game-item">
        <div class="game-card"><a href="/game/168"><img src="/static/images/Game_168.jpg" class="zoom-img" alt="Image 168"></a></div>
        <div class="Text" data-url="/get_text/168">Загрузка</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">
        <div class="game-card"><a href="/game/169"><img src="/static/images/Game_169.jpg" class="zoom-img" alt="Image 169"></a></div>
        <div class="Text" data-url="/get_text/169">Загрузка</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/170"><img src="/static/images/Game_170.jpg" class="zoom-img" alt="Image 170"></a></div>
        <div class="Text" data-url="/get_text/170">Загрузка</div>
        </div>
  
        <div class="game-item">
        <div class="game-card"><a href="/game/171"><img src="/static/images/Game_171.jpg" class="zoom-img" alt="Image 171"></a></div>
        <div class="Text" data-url="/get_text/171">Загрузка</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">
        <div class="game-card"><a href="/game/172"><img src="/static/images/Game_172.jpg" class="zoom-img" alt="Image 172"></a></div>
        <div class="Text" data-url="/get_text/172">Загрузка</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/173"><img src="/static/images/Game_173.jpg" class="zoom-img" alt="Image 173"></a></div>
        <div class="Text" data-url="/get_text/173">Загрузка</div>
        </div>
  
        <div class="game-item">
        <div class="game-card"><a href="/game/174"><img src="/static/images/Game_174.jpg" class="zoom-img" alt="Image 174"></a></div>
        <div class="Text" data-url="/get_text/174">Загрузка</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">
        <div class="game-card"><a href="/game/175"><img src="/static/images/Game_175.jpg" class="zoom-img" alt="Image 175"></a></div>
        <div class="Text" data-url="/get_text/175">Загрузка</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/176"><img src="/static/images/Game_176.jpg" class="zoom-img" alt="Image 176"></a></div>
        <div class="Text" data-url="/get_text/176">Загрузка</div>
        </div>
  
        <div class="game-item">
        <div class="game-card"><a href="/game/177"><img src="/static/images/Game_177.jpg" class="zoom-img" alt="Image 177"></a></div>
        <div class="Text" data-url="/get_text/177">Загрузка</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item">
        <div class="game-card"><a href="/game/178"><img src="/static/images/Game_178.jpg" class="zoom-img" alt="Image 178"></a></div>
        <div class="Text" data-url="/get_text/178">Загрузка</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/179"><img src="/static/images/Game_179.jpg" class="zoom-img" alt="Image 179"></a></div>
        <div class="Text" data-url="/get_text/179">Загрузка</div>
        </div>

        <div class="game-item">
        <div class="game-card"><a href="/game/180"><img src="/static/images/Game_180.jpg" class="zoom-img" alt="Image 180"></a></div>
        <div class="Text" data-url="/get_text/180">Загрузка</div>
        </div>
      </div>
    </div>
    </div>
  </section>
  
      <footer> 
        <nav aria-label="Pages">
          <ul>
            <li class="inline-text"><a class="c-btn c-btn--big-line" href="/first_page" data-hover-name="1">1</a></li>
  
            <li class="inline-text"><a class="c-btn c-btn--big-line" href="/second_page" data-hover-name="2">2</a></li>
  
            <li class="inline-text"><a class="c-btn c-btn--big-line" href="/third_page" data-hover-name="3">3</a></li>
  
            <li class="inline-text"><a class="c-btn c-btn--big-line" href="/fourth_page" data-hover-name="4">4</a></li>
  
            <li class="inline-text"><a class="c-btn c-btn--big-line" href="/fifth_page" data-hover-name="5">5</a></li>
  
            <li class="inline-text"><a class="c-btn c-btn--big-line" href="/sixth_page" data-hover-name="6">6</a></li>
          </ul>
        </nav>
  
        <div class = "Information_Follow">Следите за нами</div>
  
        <nav aria-label="Icons">
          <ul>
            <li class="inline-image"> <a href="https://t.me/Fetyper"> <img src="/static/icons/Telegram.png" alt="Telegram"></a></li>
            <li class="inline-image"> <a href="https://vk.com/coolstudent1"> <img src="/static/icons/VK.png" alt="VK"></a></li>
            <li class="inline-image"> <a href="https://github.com/Sonic11-stack?tab=overview&from=2024-12-01&to=2024-12-08"> <img src="/static/icons/GitHub.png" alt="GitHub"></a></li>
          </ul>
        </nav>
  
        <div class = "Information_Contact">Почта для связи: matvejnazarov4@gmail.com</div>
        <div class = "Information_Year">© 2025. Все права защищены</div>
      </footer>
  </body>
</html>