<!DOCTYPE html>
<html>
<head>
  <title>Третья страница</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Новости игровой индустрии, игры"/>
  <link rel = "stylesheet" type = "text/css" href = "/static/css/Games.css">
  <link rel = "stylesheet" type = "text/css" href = "/static/css/bebas_neue_bold.css">
  <script src="/static/javascript/List_Of_Commands.js" defer></script>
  <link type="image/x-icon" href="../Logo/Group 2.ico" rel="shortcut icon">
  <link type="Image/x-icon" href="../Logo/Group 2.ico" rel="icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <section class="Background">
    </section>

    <header>
      <section class="Line">
        <nav aria-label="Menu">
          <ul>
            <li class="inline-text">
                <a class="c-btn c-btn--big-line" href="/news_first_page" data-hover-name="Новости" style="font-family: 'Bebas Neue Bold';">
                  Новости</a>
            </li>
  
            <li class="inline-text">
              <a class="c-btn c-btn--big-line" href="/first_page" data-hover-name="Игры" style="font-family: 'Bebas Neue Bold';">
                Игры</a>
          </li>
  
             <li class="inline-text">
                <a class="c-btn c-btn--big-line" href="/game_engine" data-hover-name="Игровые движки" style="font-family: 'Bebas Neue Bold';">
                  Игровые движки</a>
            </li>
          </ul>
        </nav>
  
        <div class="auth-links">
          <a href="/login" style="font-family: 'Bebas Neue Bold';" class="c-btn c-btn--big-line auth-link" data-hover-name="Вход">Вход</a> /
          <a href="/reg" style="font-family: 'Bebas Neue Bold';" class="c-btn c-btn--big-line auth-link" data-hover-name="Регистрация">Регистрация</a>
        </div>
        <div class="logo-container">
          <a href="/news_first_page"><img src="/static/icons/Meta.png" alt="Логотип" class="logo"></a>
          <span class="logo-text" style="font-family: 'Bebas Neue Bold';">Code&Play</span>
        </div>
      </section>
    </header>

  <section class="Games">
    <div class="container">
      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/game/61"> <img src="/static/images/Game_61.jpg" class="zoom-img" alt="Metro 2033"> </a> </div>
        <div class="Text">Metro 2033</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/game/62"> <img src="/static/images/Game_62.jpg" class="zoom-img" alt="Metro: Last Light"> </a> </div>
        <div class="Text">Metro: Last Light</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/game/63"> <img src="/static/images/Game_63.jpg" class="zoom-img" alt="Metro Exodus"> </a> </div>
        <div class="Text">Metro Exodus</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/game/64"> <img src="/static/images/Game_64.jpg" class="zoom-img" alt="Cuphead"> </a> </div>
        <div class="Text">Cuphead</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/game/65"> <img src="/static/images/Game_65.jpg" class="zoom-img" alt="Little Nightmares"> </a> </div>
        <div class="Text">Little Nightmares</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/game/66"> <img src="/static/images/Game_66.jpg" class="zoom-img" alt="Little Nightmares 2"> </a> </div>
        <div class="Text">Little Nightmares 2</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/game/67"> <img src="/static/images/Game_67.jpg" class="zoom-img" alt="Subnautica"> </a> </div>
        <div class="Text">Subnautica</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/game/68"> <img src="/static/images/Game_68.jpg" class="zoom-img" alt="Subnautica : Below Zero"> </a> </div>
        <div class="Text">Subnautica : Below Zero</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/game/69"> <img src="/static/images/Game_69.jpg" class="zoom-img" alt="Stardew Valley"> </a> </div>
        <div class="Text">Stardew Valley</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/game/70"> <img src="/static/images/Game_70.jpg" class="zoom-img" alt="Baldur’s Gate 3"> </a> </div>
        <div class="Text">Baldur’s Gate 3</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/game/71"> <img src="/static/images/Game_71.jpg" class="zoom-img" alt="Read Dead Redemption 2"> </a> </div>
        <div class="Text">Read Dead Redemption 2</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/game/72"> <img src="/static/images/Game_72.jpg" class="zoom-img" alt="Valheim"> </a> </div>
        <div class="Text">Valheim</div>
        </div>
      </div>
    
      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/game/73"> <img src="/static/images/Game_73.jpg" class="zoom-img" alt="ARK : Survival Evolved"> </a> </div>
        <div class="Text">ARK : Survival Evolved</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/game/74"> <img src="/static/images/Game_74.jpg" class="zoom-img" alt="God of War"> </a> </div>
        <div class="Text">God of War</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/game/75"> <img src="/static/images/Game_75.jpg" class="zoom-img" alt="God of War : Ragnarok"> </a> </div>
        <div class="Text">God of War : Ragnarok</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/game/76"> <img src="/static/images/Game_76.jpg" class="zoom-img" alt="Factorio"> </a> </div>
        <div class="Text">Factorio</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/game/77"> <img src="/static/images/Game_77.jpg" class="zoom-img" alt="Dishonored"> </a> </div>
        <div class="Text">Dishonored</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/game/78"> <img src="/static/images/Game_78.jpg" class="zoom-img" alt="Dishonored 2"> </a> </div>
        <div class="Text">Dishonored 2</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/game/79"> <img src="/static/images/Game_79.jpg" class="zoom-img" alt="Papers, Please"> </a> </div>
        <div class="Text">Papers, Please</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/game/80"> <img src="/static/images/Game_80.jpg" class="zoom-img" alt="Spyro"> </a> </div>
        <div class="Text">Spyro</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/game/81"> <img src="/static/images/Game_81.jpg" class="zoom-img" alt="Ace Attorney"> </a> </div>
        <div class="Text">Ace Attorney</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/game/82"> <img src="/static/images/Game_82.jpg" class="zoom-img" alt="Fear and Hunger"> </a> </div>
        <div class="Text">Fear and Hunger</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/game/83"> <img src="/static/images/Game_83.jpg" class="zoom-img" alt="Fear and Hunger : Termina"> </a> </div>
        <div class="Text">Fear and Hunger: Termina</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/game/84"> <img src="/static/images/Game_84.jpg" class="zoom-img" alt="Devil May Cry 5"> </a> </div>
        <div class="Text">Devil May Cry 5</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/game/85"> <img src="/static/images/Game_85.jpg" class="zoom-img" alt="Super Meatboy"> </a> </div>
        <div class="Text">Super Meatboy</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/game/86"> <img src="/static/images/Game_86.jpg" class="zoom-img" alt="Star Wars Battlefront"> </a> </div>
        <div class="Text">Star Wars Battlefront</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/game/87"> <img src="/static/images/Game_87.jpg" class="zoom-img" alt="Star Wars Battlefront 2"> </a> </div>
        <div class="Text">Star Wars Battlefront 2</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card"> <a href="/game/88"> <img src="/static/images/Game_88.jpg" class="zoom-img" alt="Danganronpa"> </a> </div>
        <div class="Text">Danganronpa</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <a href="/game/89"> <img src="/static/images/Game_89.jpg" class="zoom-img" alt="Control"> </a> </div>
        <div class="Text">Control</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <a href="/game/90"> <img src="/static/images/Game_90.jpg" class="zoom-img" alt="Dead Cells"> </a> </div>
        <div class="Text">Dead Cells </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  
      <footer> 
        <nav aria-label="Pages">
          <ul>
            <li class="inline-text">
                <a class="c-btn c-btn--big-line" href="/first_page" data-hover-name="1">1</a>
            </li>
  
            <li class="inline-text">
              <a class="c-btn c-btn--big-line" href="/second_page" data-hover-name="2">2</a>
            </li>
  
            <li class="inline-text">
                <a class="c-btn c-btn--big-line" href="/third_page" data-hover-name="3">3</a>
            </li>
  
            <li class="inline-text">
              <a class="c-btn c-btn--big-line" href="/fourth_page" data-hover-name="4">4</a>
            </li>
  
            <li class="inline-text">
              <a class="c-btn c-btn--big-line" href="/fifth_page" data-hover-name="5">5</a>
            </li>
  
            <li class="inline-text">
              <a class="c-btn c-btn--big-line" href="/sixth_page" data-hover-name="6">6</a>
            </li>
          </ul>
        </nav>
  
        <div class = "Information_Follow">
          Следите за нами
        </div>
  
        <nav aria-label="Icons">
          <ul>
            <li class="inline-image"> <a href="https://t.me/Fetyper"> <img src="/static/icons/Telegram.png" alt="Telegram"></a></li>
            <li class="inline-image"> <a href="https://vk.com/coolstudent1"> <img src="/static/icons/VK.png" alt="VK"></a></li>
            <li class="inline-image"> <a href="https://github.com/Sonic11-stack?tab=overview&from=2024-12-01&to=2024-12-08"> <img src="/static/icons/GitHub.png" alt="GitHub"></a></li>
          </ul>
        </nav>
  
        <div class = "Information_Contact">
          Почта для связи: matvejnazarov4@gmail.com
        </div>
        <div class = "Information_Year">
          © 2025. Все права защищены
        </div>
      </footer>
  </body>
</html>