<!DOCTYPE html>
<html>
<head>
  <title>Третья страница</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Новости игровой индустрии, игры"/>
  <link rel = "stylesheet" type = "text/css" href = "../CSS/Games.css">
  <script src="../JavaScript/List_Of_Commands.js" defer></script>
  <link type="image/x-icon" href="../Logo/Group 2.ico" rel="shortcut icon">
  <link type="Image/x-icon" href="../Logo/Group 2.ico" rel="icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <section class="Background">
    </section>

    <header>
      <section class = "Line">
      <nav aria-label="Menu">
        <ul>
          <li class="inline-text"><a href="../HTML/News_First_Page.html">Новости</a></li>
          <li class="inline-text"><a href="../HTML/First_Page.html">Игры</a></li>
          <li class="inline-text"><a href="../HTML/Game_Engines.html">Игровые движки</a></li>
        </ul>
      </nav>
      <div class="auth-links">
        <a href="#login" class="auth-link">Вход</a> /
        <a href="#register" class="auth-link">Регистрация</a>
      </div>
      </section>
    </header>

  <section class="Games">
    <div class="container">
      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Metro_2033.jpg" class="zoom-img" alt="Metro 2033"> </div>
        <div class="Text">Metro 2033</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Metro_Last_Light.jpg" class="zoom-img" alt="Metro: Last Light"> </div>
        <div class="Text">Metro: Last Light</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Metro_Exodus.jpeg" class="zoom-img" alt="Metro Exodus"> </div>
        <div class="Text">Metro Exodus</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Cuphead.jpg" class="zoom-img" alt="Cuphead"> </div>
        <div class="Text">Cuphead</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Little_Nightmares.jpg" class="zoom-img" alt="Little Nightmares"> </div>
        <div class="Text">Little Nightmares</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Little_Nightmares-2.jpg" class="zoom-img" alt="Little Nightmares 2"> </div>
        <div class="Text">Little Nightmares 2</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Subnautica.jpg" class="zoom-img" alt="Subnautica"> </div>
        <div class="Text">Subnautica</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Subnautica_2.jpg" class="zoom-img" alt="Subnautica : Below Zero"> </div>
        <div class="Text">Subnautica : Below Zero</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Stardew.jpg" class="zoom-img" alt="Stardew Valley"> </div>
        <div class="Text">Stardew Valley</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Balldurs_Gate_3.jpg" class="zoom-img" alt="Baldur’s Gate 3"> </div>
        <div class="Text">Baldur’s Gate 3</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/RDR2.jpg" class="zoom-img" alt="Read Dead Redemption 2"> </div>
        <div class="Text">Read Dead Redemption 2</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Valheim.jpg" class="zoom-img" alt="Valheim"> </div>
        <div class="Text">Valheim</div>
        </div>
      </div>
    
      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/ARK.jpg" class="zoom-img" alt="ARK : Survival Evolved"> </div>
        <div class="Text">ARK : Survival Evolved</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/God_Of_War.jpg" class="zoom-img" alt="God of War"> </div>
        <div class="Text">God of War</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/God_Of_War_Ragnarok.jpg" class="zoom-img" alt="God of War : Ragnarok"> </div>
        <div class="Text">God of War : Ragnarok</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Factorio.jpg" class="zoom-img" alt="Factorio"> </div>
        <div class="Text">Factorio</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Dishonored.jpg" class="zoom-img" alt="Dishonored"> </div>
        <div class="Text">Dishonored</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Dishonored_2.png" class="zoom-img" alt="Dishonored 2"> </div>
        <div class="Text">Dishonored 2</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Papers.jpg" class="zoom-img" alt="Papers, Please"> </div>
        <div class="Text">Papers, Please</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Spyro.jpg" class="zoom-img" alt="Spyro"> </div>
        <div class="Text">Spyro</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Ace.jpg" class="zoom-img" alt="Ace Attorney"> </div>
        <div class="Text">Ace Attorney</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Fear_And_Hunger.jpg" class="zoom-img" alt="Fear and Hunger"> </div>
        <div class="Text">Fear and Hunger</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Fear_And_Hunger_Termina.jpeg" class="zoom-img" alt="Fear and Hunger : Termina"> </div>
        <div class="Text">Fear and Hunger : Termina</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/DMC5.jpg" class="zoom-img" alt="Devil May Cry 5"> </div>
        <div class="Text">Devil May Cry 5</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Meatboy.png" class="zoom-img" alt="Super Meatboy"> </div>
        <div class="Text">Super Meatboy</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Battlefront.jpg" class="zoom-img" alt="Star Wars Battlefront"> </div>
        <div class="Text">Star Wars Battlefront</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Battlefront_2.jpg" class="zoom-img" alt="Star Wars Battlefront 2"> </div>
        <div class="Text">Star Wars Battlefront 2</div>
        </div>
      </div>

      <div class="grid-container">
        <div class="game-item"> 
        <div class="game-card" onclick="redirectToTheLastOfUs()"> <img src="../Images/Danganronpa.jpeg" class="zoom-img" alt="Danganronpa"> </div>
        <div class="Text">Danganronpa</div>
        </div>

        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Control.jpeg" class="zoom-img" alt="Control"> </div>
        <div class="Text">Control</div>
        </div>
  
        <div class="game-item"> 
        <div class="game-card"> <img src="../Images/Dead_Cells.jpg" class="zoom-img" alt="Dead Cells"> </div>
        <div class="Text">Dead Cells</div>
        </div>
      </div>
    </div>
    </div>
  </section>
  
      <footer> 
        <nav aria-label="Pages">
          <ul>
            <li class="inline-text"><a href="../HTML/First_Page.html">1</a></li>
            <li class="inline-text"><a href="../HTML/Second_Page.html">2</a></li>
            <li class="inline-text"><a href="../HTML/Third_Page.html">3</a></li>
            <li class="inline-text"><a href="../HTML/Fourth_Page.html">4</a></li>
            <li class="inline-text"><a href="../HTML/Fifth_Page.html">5</a></li>
            <li class="inline-text"><a href="../HTML/Sixth_Page.html">6</a></li>
          </ul>
        </nav>
  
        <div class = "Information_Follow">
          Следите за нами
        </div>
  
        <nav aria-label="Icons">
          <ul>
            <li class="inline-image"> <a href="https://t.me/Fetyper"> <img src="../Icons/Telegram.png" alt="Telegram"></a></li>
            <li class="inline-image"> <a href="https://vk.com/coolstudent1"> <img src="../Icons/VK.png" alt="VK"></a></li>
            <li class="inline-image"> <a href="https://github.com/Sonic11-stack?tab=overview&from=2024-12-01&to=2024-12-08"> <img src="../Icons/GitHub.png" alt="GitHub"></a></li>
          </ul>
        </nav>
  
        <div class = "Information_Contact">
          Почта для связи: matvejnazarov4@gmail.com
        </div>
        <div class = "Information_Year">
          © 2024. Все права защищены
        </div>
      </footer>
  </body>
</html>