<!DOCTYPE html>
<html>
<head>
  <title>Unity</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Новости игровой индустрии, игры"/>
  <link rel = "stylesheet" type = "text/css" href = "../CSS/Design_For_Game.css">
  <script src="../JavaScript/List_Of_Commands.js" defer></script>
  <script src="../JavaScript/Get_API_From_Metacritic.js" defer></script>
  <link type="image/x-icon" href="../Logo/Group 2.ico" rel="shortcut icon">
  <link type="Image/x-icon" href="../Logo/Group 2.ico" rel="icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <section class="Background">
    </section> 

  <header>
    <section class = "Line">
    <nav aria-label="Menu">
      <ul>
        <li class="inline-text"><a href="../HTML/News.html">Новости</a></li>
        <li class="inline-text"><a href="../HTML/First_Page.html">Игры</a></li>
        <li class="inline-text"><a href="../HTML/Game_Engines.html">Игровые движки</a></li>
      </ul>
    </nav>
    <div class="auth-links">
      <a href="#login" class="auth-link">Вход</a> /
      <a href="#register" class="auth-link">Регистрация</a>
    </div>
    
    </section>
  </header>

  <section class="Games">
    <div class="container">
      <div class="grid-container">
        <div class="grid-item">
          <img src="../Icons/Unity.png" class="zoom-img">
        </div>
      </div>
    </div>

  <section class="Description_Of_The_Game">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10 mx-auto"> 
          <div class="text-center animate__animated">
            <div class="Text">Unity — кроссплатформенная среда разработки компьютерных игр[2], разработанная американской компанией Unity Technologies. Unity позволяет создавать приложения, работающие на более чем 25 различных платформах, включающих персональные компьютеры, игровые консоли, мобильные устройства, интернет-приложения и другие[3]. Выпуск Unity состоялся в 2005 году и с того времени идёт постоянное развитие.

                Основными преимуществами Unity являются наличие визуальной среды разработки, межплатформенной поддержки и модульной системы компонентов. К недостаткам относят появление сложностей при работе с многокомпонентными схемами и затруднения при подключении внешних библиотек
                
                .
                
                На Unity написаны тысячи игр, приложений, визуализации математических моделей, которые охватывают множество платформ и жанров. При этом Unity используется как крупными разработчиками, так и независимыми студиями
                . 
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="Score">
    <div class="container grid-container">
      <div class="grid-item text-center">
        <div class="Text_1" id="metacritic-score">
          Оценка метакритики: <span id="score-placeholder">Загрузка...</span>
        </div>
      </div>
    </div>
  </section>
  
  <section class="Buy_Game">
    <div class="container grid-container">
      <div class="grid-item text-center">
        <div class="Text_1" style="cursor: pointer;" onclick="redirectToTheLastOfUs_1()">
          Купить игру
        </div>
      </div>
    </div>
  </section>
  
  <section class="Comments">
    <div class="container grid-container">
      <div class="grid-item text-center">
        <div class="Text_1">
          Здесь вы можете почитать комментарии или оставить свой
        </div>
      </div>
    </div>
  </section>
  
  <section class="Create_Comment">
    <div class="container grid-container">
      <div class="grid-item text-center">
        <div class="Text_2" id="add-comment-btn" style="cursor: pointer;">
          Оставить комментарий
        </div>

        <div id="comment-field" style="display: none; margin-top: 10px;">
          <textarea id="comment-text" placeholder="Введите ваш комментарий..." 
                    style="width: 100%; height: 100px; padding: 10px; font-size: 16px;"></textarea>
          <button id="submit-comment-btn" style="margin-top: 10px;">Отправить</button>
        </div>
        <div id="comments-list" style="margin-top: 20px; text-align: left;">
          <h3>Комментарии:</h3>
        </div>
      </div>
    </div>
  </section>
</section>

<footer> 
  <nav aria-label="Pages">
    <ul>
      <li class="inline-text"><a href="../HTML/First_Page.html">1</a></li>
      <li class="inline-text"><a href="../HTML/Second_Page.html">2</a></li>
      <li class="inline-text"><a href="../HTML/Third_Page.html">3</a></li>
      <li class="inline-text"><a href="../HTML/Fourth_Page.html">4</a></li>
      <li class="inline-text"><a href="../HTML/Fifth_Page.html">5</a></li>
      <li class="inline-text"><a href="../HTML/Sixth_Page.html">6</a></li>
    </ul>
  </nav>

  <div class = "Information_Follow">
    Следите за нами
  </div>

  <nav aria-label="Icons">
    <ul>
      <li class="inline-image"> <a href="https://t.me/Fetyper"> <img src="../Icons/Telegram.png" alt="Telegram"></a></li>
      <li class="inline-image"> <a href="https://vk.com/coolstudent1"> <img src="../Icons/VK.png" alt="VK"></a></li>
      <li class="inline-image"> <a href="https://github.com/Sonic11-stack?tab=overview&from=2024-12-01&to=2024-12-08"> <img src="../Icons/GitHub.png" alt="GitHub"></a></li>
    </ul>
  </nav>

  <div class = "Information_Contact">
    Почта для связи: matvejnazarov4@gmail.com
  </div>
  <div class = "Information_Year">
    © 2024. Все права защищены
  </div>
</footer>

  </body>
</html>